{{/*
SPDX-FileCopyrightText: 2023 Phu Hung Nguyen <phu@kde.org>
SPDX-License-Identifier: LGPL-3.0-or-later
*/}}

{{- $version := $.Page.File.TranslationBaseName }}
{{- $majMin := partial "fn/maj_min" $version }}

{{- $changelogLink := print "/announcements/changelogs/gear/" $version }}
<h3><a href="{{ $changelogLink }}">{{ i18n "gear-changelog-link" }}</a></h3>

<h2>{{ i18n "gear-get-apps" }}</h2>
<p>{{ partial "fn/i18n_args" (slice "gear-available" $majMin) }}</p>
<div class="row">
  <div class="col-12 col-md-6">
    <figure>
      <a href="https://flathub.org/apps/search/kde">
        <picture>
          <img src="/images/flathub.svg" class="text-center img-fluid flathub" alt="" loading="lazy">
        </picture>
      </a>
      <figcaption class="text-center">{{ i18n "flathub" }}</figcaption>
    </figure>
  </div>

  <div class="col-12 col-md-6">
    <figure>
      <a href="https://snapcraft.io/publisher/kde">
        <picture>
          <img src="/images/snapcraft.svg" class="text-center img-fluid snapcraft" alt="" loading="lazy">
        </picture>
      </a>
      <figcaption class="text-center">{{ i18n "snapcraft" }}</figcaption>
    </figure>
  </div>
</div>
<p>{{ partial "fn/i18n_args" (slice "gear-all-about-apps" "https://go.kde.org/matrix/#/#kde-all-about-apps:kde.org") | markdownify }}</p>
<figure>
  <img class="img-fluid" src="{{ $.Page.Params.outro_img.link }}" alt="{{ $.Page.Params.outro_img.alt }}" title="{{ $.Page.Params.outro_img.alt }}">
</figure>
