<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.2/bluedevil-5.16.2.tar.xz">bluedevil-5.16.2</a></td>
   <td align="right">154kB</td>
   <td><tt>d005d6c9485f188c076e72c13d5ece0d55187864988e7b4d6f15c2760f3d1584</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.2/breeze-5.16.2.tar.xz">breeze-5.16.2</a></td>
   <td align="right">15MB</td>
   <td><tt>bd33e97fd21a2314d5d6a8e90327851c8aa75bf2583feb56dcb0a2485c950a9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.2/breeze-grub-5.16.2.tar.xz">breeze-grub-5.16.2</a></td>
   <td align="right">3.0MB</td>
   <td><tt>d7e7b4067bd9eaf3b4e72a07f6d273ef49be74b735fd0ce74a7d511c6fdc0e2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.2/breeze-gtk-5.16.2.tar.xz">breeze-gtk-5.16.2</a></td>
   <td align="right">46kB</td>
   <td><tt>829b6c3b435dc543d958591f00413afd8bebf30beae2d819a9c1bd65b3048ede</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.2/breeze-plymouth-5.16.2.tar.xz">breeze-plymouth-5.16.2</a></td>
   <td align="right">103kB</td>
   <td><tt>ec3e4a8742732e0f8d70d911e8355a6293ad891c47a925c451aa1403e4eb3f45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.2/discover-5.16.2.tar.xz">discover-5.16.2</a></td>
   <td align="right">9.9MB</td>
   <td><tt>a04ab57cd98279847367fbfd76e013e0980457cace4c5ba84bce84ba0ad8766e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.2/drkonqi-5.16.2.tar.xz">drkonqi-5.16.2</a></td>
   <td align="right">724kB</td>
   <td><tt>2349e9d950fdaa5bace57162e5155a50cd9417ec03410e199a5fdba6ff1d6f23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.2/kactivitymanagerd-5.16.2.tar.xz">kactivitymanagerd-5.16.2</a></td>
   <td align="right">82kB</td>
   <td><tt>2808e8551314531ddd06ca27f059d4f41652c34db7a2cbd273ae9a41a7965ac1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.2/kde-cli-tools-5.16.2.tar.xz">kde-cli-tools-5.16.2</a></td>
   <td align="right">573kB</td>
   <td><tt>a1cb994a08b97cad8e5de6030ac89d0d5c997e3548e354e29ef3291526f4add2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.2/kde-gtk-config-5.16.2.tar.xz">kde-gtk-config-5.16.2</a></td>
   <td align="right">150kB</td>
   <td><tt>b1c3c2fd62bcb0bb08a1966843be28b829d4cc43931aad02336f452adc5b2793</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.2/kdecoration-5.16.2.tar.xz">kdecoration-5.16.2</a></td>
   <td align="right">41kB</td>
   <td><tt>4948c97f714d9cbd43121084583c4db00ef04ccd540ee0c5362c7805d740e245</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.2/kdeplasma-addons-5.16.2.tar.xz">kdeplasma-addons-5.16.2</a></td>
   <td align="right">580kB</td>
   <td><tt>bdaaadac3a7ae4414daf0d9ff3f8893d8bc0c11cfaafc59867ec00087760abee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.2/kgamma5-5.16.2.tar.xz">kgamma5-5.16.2</a></td>
   <td align="right">77kB</td>
   <td><tt>e1288c94e024f64b12ff1f5ec671834cbb6aabb37a1e893c02f0bb7b65774011</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.2/khotkeys-5.16.2.tar.xz">khotkeys-5.16.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>5e6063cecbafac20d60245e5c7f27038cb438355a10dfe538fa94b2f6ac803b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.2/kinfocenter-5.16.2.tar.xz">kinfocenter-5.16.2</a></td>
   <td align="right">1.2MB</td>
   <td><tt>d7114681c4aff0761e483fafe411fefe48e63dab3d9910b7c7b688da788ec8cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.2/kmenuedit-5.16.2.tar.xz">kmenuedit-5.16.2</a></td>
   <td align="right">792kB</td>
   <td><tt>ede73b134c03704abcc950c70b511f6bf59ebea34e1bdff9834af206b979239f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.2/kscreen-5.16.2.tar.xz">kscreen-5.16.2</a></td>
   <td align="right">119kB</td>
   <td><tt>b380fe6be5d26372a7797fc9fa809cb24db3a7e094e789590dd5d4fa0e06e69c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.2/kscreenlocker-5.16.2.tar.xz">kscreenlocker-5.16.2</a></td>
   <td align="right">119kB</td>
   <td><tt>b54d3c34f910113c0b3a091e30e149efe081454a1f36c3a7e4fb0a6db4aec2e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.2/ksshaskpass-5.16.2.tar.xz">ksshaskpass-5.16.2</a></td>
   <td align="right">20kB</td>
   <td><tt>a515a2782eace3741e25f35fdc17d36a8994ccdf6b43419d1c9b30f90e4b2f2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.2/ksysguard-5.16.2.tar.xz">ksysguard-5.16.2</a></td>
   <td align="right">488kB</td>
   <td><tt>92f05193ac755b2bbde78307821d7f1a7035a8d394b98303a98f31f15505661d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.2/kwallet-pam-5.16.2.tar.xz">kwallet-pam-5.16.2</a></td>
   <td align="right">19kB</td>
   <td><tt>993ef3d830246a6d8b3d57b7b6ed82292094f1964da9cf251300aa2eaed2aa9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.2/kwayland-integration-5.16.2.tar.xz">kwayland-integration-5.16.2</a></td>
   <td align="right">19kB</td>
   <td><tt>dddd4bba1c547d59cf2adbdeab4f6d8f9647e086715e08035d9396e234c63ccd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.2/kwin-5.16.2.tar.xz">kwin-5.16.2</a></td>
   <td align="right">5.9MB</td>
   <td><tt>bf3e12e52d1f0917ba45f2927f3707c8631c5f9a6e3ec38029425ff28b15067f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.2/kwrited-5.16.2.tar.xz">kwrited-5.16.2</a></td>
   <td align="right">19kB</td>
   <td><tt>02302e83eaa64b8015b6d084644fb2c48f3fa3db5ff7c01cdc6abb8ad4c6d921</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.2/libkscreen-5.16.2.tar.xz">libkscreen-5.16.2</a></td>
   <td align="right">79kB</td>
   <td><tt>efefec1f5d6d8dcdf688cdb9334bba7aa363729e44ca00907c2a7a1488451228</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.2/libksysguard-5.16.2.tar.xz">libksysguard-5.16.2</a></td>
   <td align="right">566kB</td>
   <td><tt>1b32a980886be1087f1cb9da137c0b3932bc1c211f2833a5a40829fb91e175b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.2/milou-5.16.2.tar.xz">milou-5.16.2</a></td>
   <td align="right">56kB</td>
   <td><tt>5b284574b43ac76e3c3d84693adb9acf19371d68ee04fae4d95d56ed47f9e8bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.2/oxygen-5.16.2.tar.xz">oxygen-5.16.2</a></td>
   <td align="right">4.2MB</td>
   <td><tt>734b8f6312ca9486571006a9c8a1c04138cd6883a85f5f5c24d10800fb687c50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.2/plasma-browser-integration-5.16.2.tar.xz">plasma-browser-integration-5.16.2</a></td>
   <td align="right">119kB</td>
   <td><tt>b58e1bd8a28b10c8abe8d725fe63f0cd171f752a3e81151b5c98217daa3aaf25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.2/plasma-desktop-5.16.2.tar.xz">plasma-desktop-5.16.2</a></td>
   <td align="right">9.0MB</td>
   <td><tt>703ae36cbf488b8cabf8b349d945dce949811995f7fc2149f0ddadf0e55a99e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.2/plasma-integration-5.16.2.tar.xz">plasma-integration-5.16.2</a></td>
   <td align="right">54kB</td>
   <td><tt>3c7037677f37a65b754e7e3efc642e2f714195b49e193c641b87424aeecf0cfe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.2/plasma-nm-5.16.2.tar.xz">plasma-nm-5.16.2</a></td>
   <td align="right">766kB</td>
   <td><tt>2c727a07ccaf645a62d3c8e3be50f6ecc4c9728afe83a29723ef38ab26dfc97b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.2/plasma-pa-5.16.2.tar.xz">plasma-pa-5.16.2</a></td>
   <td align="right">98kB</td>
   <td><tt>676c769f66353110586b7091d21c5e58f404de83d263298b37a24a42a775fd13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.2/plasma-sdk-5.16.2.tar.xz">plasma-sdk-5.16.2</a></td>
   <td align="right">244kB</td>
   <td><tt>eb0d9f12968c30d77153a59fccc95ac47e73b30e0f0352a274b25f138225d3e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.2/plasma-tests-5.16.2.tar.xz">plasma-tests-5.16.2</a></td>
   <td align="right">1kB</td>
   <td><tt>ae6d95455be97c67ca57334295678c29e1bbdd0364ac0bb332d4fd49c131cd15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.2/plasma-vault-5.16.2.tar.xz">plasma-vault-5.16.2</a></td>
   <td align="right">123kB</td>
   <td><tt>2d7f9d2addec6cccf3d998c822df5f1f2b2b485dda2e05c98a921a600d14b23f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.2/plasma-workspace-5.16.2.tar.xz">plasma-workspace-5.16.2</a></td>
   <td align="right">4.6MB</td>
   <td><tt>8aa065328487b8200762e95a7b7ad6af14be13b39b503cfc375cd12cb21d6f01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.2/plasma-workspace-wallpapers-5.16.2.tar.xz">plasma-workspace-wallpapers-5.16.2</a></td>
   <td align="right">32MB</td>
   <td><tt>1274d614a0a72893778aa76f5c2e04fea610215b7f2e11924abd712e514db1d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.2/plymouth-kcm-5.16.2.tar.xz">plymouth-kcm-5.16.2</a></td>
   <td align="right">39kB</td>
   <td><tt>87d8f7faba1a01e96573d533646f41af86aaddc1b94aa9af95718db7617ffc76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.2/polkit-kde-agent-1-5.16.2.tar.xz">polkit-kde-agent-1-5.16.2</a></td>
   <td align="right">42kB</td>
   <td><tt>751db18687e8fb19cb20b64840c9f57652cbbc6687ab303c23c56d4c743fc13a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.2/powerdevil-5.16.2.tar.xz">powerdevil-5.16.2</a></td>
   <td align="right">576kB</td>
   <td><tt>ec0ed6826514b71c0ae0fb05072e33dd1f284ed84b5f78dff3df267d7a02c28c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.2/sddm-kcm-5.16.2.tar.xz">sddm-kcm-5.16.2</a></td>
   <td align="right">60kB</td>
   <td><tt>f024e06b46c85d1ad6f59938324769bc502cbd26dcde97e42c5cff08e69c0474</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.2/systemsettings-5.16.2.tar.xz">systemsettings-5.16.2</a></td>
   <td align="right">174kB</td>
   <td><tt>12c221a905b1c4e751e6b3c346f652ad10297f537fc9934955db65d6788e59d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.2/user-manager-5.16.2.tar.xz">user-manager-5.16.2</a></td>
   <td align="right">534kB</td>
   <td><tt>27cf286d6ea21ac3e636efaedf60693d8f1b748de8f2086cfae76aa90544f30d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.2/xdg-desktop-portal-kde-5.16.2.tar.xz">xdg-desktop-portal-kde-5.16.2</a></td>
   <td align="right">60kB</td>
   <td><tt>49d00aaa5ebf38f5b2c4b3110e53afa06973f949c782f59e10add8fe65fe95ff</tt></td>
</tr>

</table>
