<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.4/bluedevil-5.7.4.tar.xz">bluedevil-5.7.4</a></td>
   <td align="right">136kB</td>
   <td><tt>c9566f70f92759a332542be2c691e0d9f26164708f26a81f9ccad9f40b6dd038</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.4/breeze-5.7.4.tar.xz">breeze-5.7.4</a></td>
   <td align="right">11MB</td>
   <td><tt>0695f02b068a72760e9b2a0802820c32fd4627c7d0af14f8b43dcc7f905d4c6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.4/breeze-grub-5.7.4.tar.xz">breeze-grub-5.7.4</a></td>
   <td align="right">149kB</td>
   <td><tt>4e22a92cf2bd3bc1a44dec456617c237bc3a9f2f77ed2b0d78a346e86b503d3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.4/breeze-gtk-5.7.4.tar.xz">breeze-gtk-5.7.4</a></td>
   <td align="right">205kB</td>
   <td><tt>1d3cc83367cc5d68648039c8f5a85c12a0538cd88f0a98c24b66e6cb04caf945</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.4/breeze-plymouth-5.7.4.tar.xz">breeze-plymouth-5.7.4</a></td>
   <td align="right">55kB</td>
   <td><tt>f31f3998aa94a96437f5b031ad240f45f2eaae0775aa0b4e688f6036b703160b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.4/discover-5.7.4.tar.xz">discover-5.7.4</a></td>
   <td align="right">794kB</td>
   <td><tt>9fa3826ce8aec0f29bc12ceb00a4423624e8c0d3a414a3f094958279d8b18403</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.4/kactivitymanagerd-5.7.4.tar.xz">kactivitymanagerd-5.7.4</a></td>
   <td align="right">77kB</td>
   <td><tt>2ba109058dede38d183551c7bdc366f581105dd040227ffb6116e6a618e26483</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.4/kde-cli-tools-5.7.4.tar.xz">kde-cli-tools-5.7.4</a></td>
   <td align="right">474kB</td>
   <td><tt>978c64bc0c5450528888467fb4e6aee1f3d2c3aefb1714da611a7fd131fa4d60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.4/kdecoration-5.7.4.tar.xz">kdecoration-5.7.4</a></td>
   <td align="right">33kB</td>
   <td><tt>817ad5fbf497bd838654ae62c5c0b21c4a502a537a4ffd72f3fdeda4f2580c98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.4/kde-gtk-config-5.7.4.tar.xz">kde-gtk-config-5.7.4</a></td>
   <td align="right">143kB</td>
   <td><tt>74d5a166aef8e506adf05f8fd501093932aa34dfc96573857a356520b369c950</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.4/kdeplasma-addons-5.7.4.tar.xz">kdeplasma-addons-5.7.4</a></td>
   <td align="right">1.9MB</td>
   <td><tt>99582dfd134a48c1225d3c478b0ca68bda0c688af0225ef2486f80345c31886d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.4/kgamma5-5.7.4.tar.xz">kgamma5-5.7.4</a></td>
   <td align="right">58kB</td>
   <td><tt>22cd9f093f61fe08af108f3cc96ad0d1dd7c68214e2f5523ba47bbfc2036c897</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.4/khotkeys-5.7.4.tar.xz">khotkeys-5.7.4</a></td>
   <td align="right">587kB</td>
   <td><tt>8a88d51131c274e83394db4d7933ccd7b93ccc1cb14a467783a1137c1f73efd1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.4/kinfocenter-5.7.4.tar.xz">kinfocenter-5.7.4</a></td>
   <td align="right">1.1MB</td>
   <td><tt>348c7717b088ac117e3beae38aa13de4655b0be4012aef18c63c0208b82f9448</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.4/kmenuedit-5.7.4.tar.xz">kmenuedit-5.7.4</a></td>
   <td align="right">635kB</td>
   <td><tt>775c8dab7cd403ce820c256a5a22493e749bbdec6801edf3be1a993e45020abd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.4/kscreen-5.7.4.tar.xz">kscreen-5.7.4</a></td>
   <td align="right">105kB</td>
   <td><tt>bec5dddcedecafda8d1cd1d9e3c2d60840ea54a97ed6cf5459c78becec070cc4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.4/kscreenlocker-5.7.4.tar.xz">kscreenlocker-5.7.4</a></td>
   <td align="right">99kB</td>
   <td><tt>d86c954973c3f9d474a0e44275e6cfec596a217f1516cecd6f2b04df5df1f10d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.4/ksshaskpass-5.7.4.tar.xz">ksshaskpass-5.7.4</a></td>
   <td align="right">18kB</td>
   <td><tt>efa1521a02c4d486d5dc237cea79a2bb6f4b3d88f8b22aafce0681372f946095</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.4/ksysguard-5.7.4.tar.xz">ksysguard-5.7.4</a></td>
   <td align="right">473kB</td>
   <td><tt>3c70b25f87fd5fe87596c0a7ded3490f0d833f1475f78df219cb2d466ffe26e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.4/kwallet-pam-5.7.4.tar.xz">kwallet-pam-5.7.4</a></td>
   <td align="right">17kB</td>
   <td><tt>59861c540c25fb3936f8d7bf09b325828fc04c191dd895d94d3a018e8df177dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.4/kwayland-integration-5.7.4.tar.xz">kwayland-integration-5.7.4</a></td>
   <td align="right">17kB</td>
   <td><tt>43d39449cebf8d04a7e1a46456bd1d271d7c058b9a46cacafb81c69ad1a8c016</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.4/kwin-5.7.4.tar.xz">kwin-5.7.4</a></td>
   <td align="right">3.7MB</td>
   <td><tt>48f3c4c86f9daad6619a0ee4012d05ff04d52b2f51ff6cc88beb8f79e598d519</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.4/kwrited-5.7.4.tar.xz">kwrited-5.7.4</a></td>
   <td align="right">19kB</td>
   <td><tt>1f479a6d0e42625a26ae02c23a3804e82532df3d7fda889d8b24eeba11cf8191</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.4/libkscreen-5.7.4.tar.xz">libkscreen-5.7.4</a></td>
   <td align="right">87kB</td>
   <td><tt>526f2cc410e836568e262a15a653048a93dc8c31fdc6c1840fa4b411bb592eca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.4/libksysguard-5.7.4.tar.xz">libksysguard-5.7.4</a></td>
   <td align="right">555kB</td>
   <td><tt>403aefa84e05fcd37ae6552251c16e42c1719b1ce9e72a008340aa7cbfd46ece</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.4/milou-5.7.4.tar.xz">milou-5.7.4</a></td>
   <td align="right">52kB</td>
   <td><tt>d83c8c30c730909674ed5d96340d7b499d72dfad608a7e9ea1e4f1a81b3b21ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.4/oxygen-5.7.4.tar.xz">oxygen-5.7.4</a></td>
   <td align="right">4.2MB</td>
   <td><tt>a35bf27afb242359c5ca345b76346672b7f63d78e9f1036ebf47f53d548128bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.4/plasma-desktop-5.7.4.tar.xz">plasma-desktop-5.7.4</a></td>
   <td align="right">5.9MB</td>
   <td><tt>b91ac3ecbc463c08e4bd06f9bbe27266c42be7aa35ead45e22615ca68c31a876</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.4/plasma-integration-5.7.4.tar.xz">plasma-integration-5.7.4</a></td>
   <td align="right">47kB</td>
   <td><tt>3d602463b47cbe08738ce9a7d1ff5322a4948c1232cd77f66fa2803f21af1740</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.4/plasma-nm-5.7.4.tar.xz">plasma-nm-5.7.4</a></td>
   <td align="right">617kB</td>
   <td><tt>31e1dcd0302256d57a2340699e1c7aaf16f4811856093ad248bc11d68d25ac5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.4/plasma-pa-5.7.4.tar.xz">plasma-pa-5.7.4</a></td>
   <td align="right">141kB</td>
   <td><tt>a4a1d32fadd302fcc14fe428b2d6be8bcadf8f7f05dbcf2ba9d56d017c9e66fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.4/plasma-sdk-5.7.4.tar.xz">plasma-sdk-5.7.4</a></td>
   <td align="right">679kB</td>
   <td><tt>562d29e3f74763edafc14cc3aa312dbed255449c519749624fb798a46418f887</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.4/plasma-workspace-5.7.4.tar.xz">plasma-workspace-5.7.4</a></td>
   <td align="right">6.5MB</td>
   <td><tt>5785b5dd3cd44847720f4e639ad4ccf4bdd842624abda5b78ffd49362c0f0e3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.4/plasma-workspace-wallpapers-5.7.4.tar.xz">plasma-workspace-wallpapers-5.7.4</a></td>
   <td align="right">43MB</td>
   <td><tt>b7dd2496352bed3eaf8eae2db225999974b282614d08759691a8519ecad5a6df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.4/polkit-kde-agent-1-5.7.4.tar.xz">polkit-kde-agent-1-5.7.4</a></td>
   <td align="right">39kB</td>
   <td><tt>14f98b3cf934bceaf50809b331f3a783e90b6de9e8bd747ad17db1d28207bca7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.4/powerdevil-5.7.4.tar.xz">powerdevil-5.7.4</a></td>
   <td align="right">349kB</td>
   <td><tt>0465dc4d21bac1d5ff9f32452c0235b897c9956d1cd94f2cddcf31c68e8672a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.4/sddm-kcm-5.7.4.tar.xz">sddm-kcm-5.7.4</a></td>
   <td align="right">47kB</td>
   <td><tt>b01854f130e0a7ea322995e371c7b4a058adf809313082bb69ad18562fca922a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.4/systemsettings-5.7.4.tar.xz">systemsettings-5.7.4</a></td>
   <td align="right">153kB</td>
   <td><tt>7cb0bc2d5ccd0f16b4f7033a08e097e7e8ac64fff5a3c94a80b7adc26dc59908</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.4/user-manager-5.7.4.tar.xz">user-manager-5.7.4</a></td>
   <td align="right">272kB</td>
   <td><tt>4ec613c4bb7eac55fc53ac3e35a3a5077d6331b114b4739d5b3e840437fd5800</tt></td>
</tr>

</table>
