
<table class="table" border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/attica-5.108.0.tar.xz">attica-5.108.0</a></td>
   <td align="right">67kB</td>
   <td><tt>90e2932d3cf019bf5ad0180f64607c7437e5ec91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/baloo-5.108.0.tar.xz">baloo-5.108.0</a></td>
   <td align="right">301kB</td>
   <td><tt>b1eaf028c0f0ebbafd161613bc6874056647d0da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/bluez-qt-5.108.0.tar.xz">bluez-qt-5.108.0</a></td>
   <td align="right">111kB</td>
   <td><tt>931b6a84bf69bcb7047de06059e477d741937d09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/breeze-icons-5.108.0.tar.xz">breeze-icons-5.108.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>e0a0aa58c677009ae93c491d45ad0f12b3bee8a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/extra-cmake-modules-5.108.0.tar.xz">extra-cmake-modules-5.108.0</a></td>
   <td align="right">323kB</td>
   <td><tt>6ae84c7c9ca4cd6f4e00a8a20852800c5bfac38f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/frameworkintegration-5.108.0.tar.xz">frameworkintegration-5.108.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>5ffbc620c7cb435db9657bc13030c70700004255</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/kactivities-5.108.0.tar.xz">kactivities-5.108.0</a></td>
   <td align="right">71kB</td>
   <td><tt>906fb0e4a5e66d9885f242eea4ed388c19e72774</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/kactivities-stats-5.108.0.tar.xz">kactivities-stats-5.108.0</a></td>
   <td align="right">82kB</td>
   <td><tt>c325d715e7a8a99c2a4e7376301a86cf41e36ead</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/kapidox-5.108.0.tar.xz">kapidox-5.108.0</a></td>
   <td align="right">194kB</td>
   <td><tt>ef45d085e7b8cba9b1a56d6a96a143543a8d43d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/karchive-5.108.0.tar.xz">karchive-5.108.0</a></td>
   <td align="right">995kB</td>
   <td><tt>d5e7b124923a3bbb511c2aa2b0cc37e0ee7809a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/kauth-5.108.0.tar.xz">kauth-5.108.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>d6fdcfeb3a9ed0edfa4fa4da10672a6e0a1d5138</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/kbookmarks-5.108.0.tar.xz">kbookmarks-5.108.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>3ffc7b296a1cf14d9bd5432dfad2b3d08b6af637</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/kcalendarcore-5.108.0.tar.xz">kcalendarcore-5.108.0</a></td>
   <td align="right">262kB</td>
   <td><tt>67011d39d0b7f78934311d644f9c64c4c5a05e28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/kcmutils-5.108.0.tar.xz">kcmutils-5.108.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>83ac05ae3c8ed7b07e94ad729b1f508b2fddb692</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/kcodecs-5.108.0.tar.xz">kcodecs-5.108.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>d453f92b73761ee7d4844c80e3063845ecb71633</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/kcompletion-5.108.0.tar.xz">kcompletion-5.108.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>b6845cf0b45d900ef2b452316401eb5134daccf6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/kconfig-5.108.0.tar.xz">kconfig-5.108.0</a></td>
   <td align="right">286kB</td>
   <td><tt>cb04d459f7d39a636da44d5cb1eb70699a44f585</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/kconfigwidgets-5.108.0.tar.xz">kconfigwidgets-5.108.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>75c1b4be58eafd31bdf896ecaa439aa499cbc37f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/kcontacts-5.108.0.tar.xz">kcontacts-5.108.0</a></td>
   <td align="right">208kB</td>
   <td><tt>7670a2e3d2d39c4a5076420dd0aae30aa78ddd26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/kcoreaddons-5.108.0.tar.xz">kcoreaddons-5.108.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>ecc9d47091136a6ab303005ac9be05010112a327</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/kcrash-5.108.0.tar.xz">kcrash-5.108.0</a></td>
   <td align="right">27kB</td>
   <td><tt>4afef707d7fd881d1f02f75cbe3f9c710483f37b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/kdav-5.108.0.tar.xz">kdav-5.108.0</a></td>
   <td align="right">64kB</td>
   <td><tt>2198fd0fb1983fefe6330778b62b001d325914c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/kdbusaddons-5.108.0.tar.xz">kdbusaddons-5.108.0</a></td>
   <td align="right">47kB</td>
   <td><tt>6ee143a2052c3550d8c2cbb9a7c1ecd9b390f733</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/kdeclarative-5.108.0.tar.xz">kdeclarative-5.108.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>40cb4829d046b87230982fe73d1721de44e17daa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/kded-5.108.0.tar.xz">kded-5.108.0</a></td>
   <td align="right">40kB</td>
   <td><tt>78f7a6f4fe902dc10cbaa54c4ad3e9ed005b1959</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/kdesu-5.108.0.tar.xz">kdesu-5.108.0</a></td>
   <td align="right">55kB</td>
   <td><tt>04e87bf8bb37fa175f365857c4f185de0f60db2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/kdnssd-5.108.0.tar.xz">kdnssd-5.108.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>5ab6be798c9f53b654a5446fdbe98929adb42984</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/kdoctools-5.108.0.tar.xz">kdoctools-5.108.0</a></td>
   <td align="right">454kB</td>
   <td><tt>d7ac34ce33c971d5b51092074e607ccfd1c28927</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/kemoticons-5.108.0.tar.xz">kemoticons-5.108.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>170bc8ffae6bdd245cdf09c97c9f52330b86438a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/kfilemetadata-5.108.0.tar.xz">kfilemetadata-5.108.0</a></td>
   <td align="right">460kB</td>
   <td><tt>94a15b73e784a5bd668f809534fe2cd46f6e5ef4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/kglobalaccel-5.108.0.tar.xz">kglobalaccel-5.108.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>9b790165ae0a8f253e653d0d00d66f978b73da68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/kguiaddons-5.108.0.tar.xz">kguiaddons-5.108.0</a></td>
   <td align="right">76kB</td>
   <td><tt>65873104b9917c19cb12705cb50942a143301f93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/kholidays-5.108.0.tar.xz">kholidays-5.108.0</a></td>
   <td align="right">249kB</td>
   <td><tt>5af0082a650f8c4d9a8746c9bb2738231520b298</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/ki18n-5.108.0.tar.xz">ki18n-5.108.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>581f824441feb1042226bde48868b3733497ea42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/kiconthemes-5.108.0.tar.xz">kiconthemes-5.108.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>0ee363ebaafcb9d97425591b2cb7580e0eb6be77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/kidletime-5.108.0.tar.xz">kidletime-5.108.0</a></td>
   <td align="right">30kB</td>
   <td><tt>f4b7915e5e514948bfee352d92c0f0abce615668</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/kimageformats-5.108.0.tar.xz">kimageformats-5.108.0</a></td>
   <td align="right">12MB</td>
   <td><tt>a606a586c08889f9fdf19b67d267e3a2f3414743</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/kinit-5.108.0.tar.xz">kinit-5.108.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>52589257132a17b5ece9c06eb9ad030cfcd52a0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/kio-5.108.0.tar.xz">kio-5.108.0</a></td>
   <td align="right">3.6MB</td>
   <td><tt>cee6b4dc25db41b95c2411ec222d896c78bc1136</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/kirigami2-5.108.0.tar.xz">kirigami2-5.108.0</a></td>
   <td align="right">373kB</td>
   <td><tt>952b41c94f6cf20a7f7cc834e09092978a51927e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/kitemmodels-5.108.0.tar.xz">kitemmodels-5.108.0</a></td>
   <td align="right">397kB</td>
   <td><tt>ea2a0c8f6a06b46f632b94ee934643d45741d0a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/kitemviews-5.108.0.tar.xz">kitemviews-5.108.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>3b981565a5ada57731d2baa1b3ff38ba98f827f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/kjobwidgets-5.108.0.tar.xz">kjobwidgets-5.108.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>ba176178086bed396792b8037ae6399d4994fd27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/knewstuff-5.108.0.tar.xz">knewstuff-5.108.0</a></td>
   <td align="right">3.2MB</td>
   <td><tt>6cd053d72ca6abd75ca02aba281fc35f296f0136</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/knotifications-5.108.0.tar.xz">knotifications-5.108.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>7d39dd09c76b2c6e15bfd3fe590b2f9f08bece87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/knotifyconfig-5.108.0.tar.xz">knotifyconfig-5.108.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>f8a3052ebd1e6fe74fc1c28aa2cbce04042a2b90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/kpackage-5.108.0.tar.xz">kpackage-5.108.0</a></td>
   <td align="right">182kB</td>
   <td><tt>460fff5f64871188c032988ceb8db7248a83f5ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/kparts-5.108.0.tar.xz">kparts-5.108.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>e700fb486f2673d34a8c17ceaa5451c0dd91e7b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/kpeople-5.108.0.tar.xz">kpeople-5.108.0</a></td>
   <td align="right">61kB</td>
   <td><tt>b71d216468c82fb8fcb2938028ed6aae975e01ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/kplotting-5.108.0.tar.xz">kplotting-5.108.0</a></td>
   <td align="right">32kB</td>
   <td><tt>07b882bf4655caa721e5becdc610c85c8a7b657e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/kpty-5.108.0.tar.xz">kpty-5.108.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>eae2dd126af7a45d24984d717ae1e9ec61c9940f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/kquickcharts-5.108.0.tar.xz">kquickcharts-5.108.0</a></td>
   <td align="right">110kB</td>
   <td><tt>2c17caddd1594022487143079bdf8efc89924be7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/krunner-5.108.0.tar.xz">krunner-5.108.0</a></td>
   <td align="right">86kB</td>
   <td><tt>7ea2fc9fd77fdbc18579f839615f81790fb8d787</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/kservice-5.108.0.tar.xz">kservice-5.108.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>2568b302a5075efa537c478d062eda424c210353</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/ktexteditor-5.108.0.tar.xz">ktexteditor-5.108.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>108919651c214aba9d062873a0b67ae94211fcd7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/ktextwidgets-5.108.0.tar.xz">ktextwidgets-5.108.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>715a700014fff4650ae07a78bef546943aed9f2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/kunitconversion-5.108.0.tar.xz">kunitconversion-5.108.0</a></td>
   <td align="right">909kB</td>
   <td><tt>6a3e91b43a5b2c2bbfef77f6f52726993104e208</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/kwallet-5.108.0.tar.xz">kwallet-5.108.0</a></td>
   <td align="right">341kB</td>
   <td><tt>9d86b446a66b1645d8650298ebde1fc33cc3f5e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/kwayland-5.108.0.tar.xz">kwayland-5.108.0</a></td>
   <td align="right">328kB</td>
   <td><tt>6e720e31c78db06dd342fb645685b4ee8470bc80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/kwidgetsaddons-5.108.0.tar.xz">kwidgetsaddons-5.108.0</a></td>
   <td align="right">4.0MB</td>
   <td><tt>69f33cb88959aec300ebd658a45d7020e620e1a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/kwindowsystem-5.108.0.tar.xz">kwindowsystem-5.108.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>c48780473e4b069faa5d9e06a250c2442916d0b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/kxmlgui-5.108.0.tar.xz">kxmlgui-5.108.0</a></td>
   <td align="right">2.8MB</td>
   <td><tt>e0c048d1fd32afa48c3e06423ad7f35d4ca99ef8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/modemmanager-qt-5.108.0.tar.xz">modemmanager-qt-5.108.0</a></td>
   <td align="right">118kB</td>
   <td><tt>e9e9d8ee8445baa33fb4298e5d7f6032de5cbc44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/networkmanager-qt-5.108.0.tar.xz">networkmanager-qt-5.108.0</a></td>
   <td align="right">193kB</td>
   <td><tt>14289b5791abc035d83366b4701a1dd6913d7ca8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/oxygen-icons5-5.108.0.tar.xz">oxygen-icons5-5.108.0</a></td>
   <td align="right">227MB</td>
   <td><tt>8c99960b51a9da48843f8c97e003d37803eb5cbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/plasma-framework-5.108.0.tar.xz">plasma-framework-5.108.0</a></td>
   <td align="right">3.1MB</td>
   <td><tt>170c41646cb860ddc8e98853bba47603268be551</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/prison-5.108.0.tar.xz">prison-5.108.0</a></td>
   <td align="right">54kB</td>
   <td><tt>bb3f486e9365367b2119f7273a61139627342b3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/purpose-5.108.0.tar.xz">purpose-5.108.0</a></td>
   <td align="right">175kB</td>
   <td><tt>d40d959aaa0f10ca39ac85e8b0a402b649851bfd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/qqc2-desktop-style-5.108.0.tar.xz">qqc2-desktop-style-5.108.0</a></td>
   <td align="right">67kB</td>
   <td><tt>b68327ef7b4b9ea8c50c57ef86404086b2674b34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/solid-5.108.0.tar.xz">solid-5.108.0</a></td>
   <td align="right">298kB</td>
   <td><tt>518ab72f2aa8ef1ba8ea70870d3dc38b4c311f22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/sonnet-5.108.0.tar.xz">sonnet-5.108.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>101c3661a6b058eb311865f4fa30470ea4a53a04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/syndication-5.108.0.tar.xz">syndication-5.108.0</a></td>
   <td align="right">498kB</td>
   <td><tt>be7bcd41783a2cb4a74ee4a9506aa6af032638fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/syntax-highlighting-5.108.0.tar.xz">syntax-highlighting-5.108.0</a></td>
   <td align="right">3.2MB</td>
   <td><tt>0d640fecbc53423bc80053d75daa98a69f5b707f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.108/threadweaver-5.108.0.tar.xz">threadweaver-5.108.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>205ce0e9bc6bf95596d81c31d94360605068d046</tt></td>
</tr>

</table>
