
<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.36/attica-5.36.0.tar.xz">attica-5.36.0</a></td>
   <td align="right">59kB</td>
   <td><tt>6f5c54228aed43a4812745d5d74b743aa10cd83f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.36/baloo-5.36.0.tar.xz">baloo-5.36.0</a></td>
   <td align="right">191kB</td>
   <td><tt>a99979e963718d865c6ecbfaf8cad73dd54cdead</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.36/bluez-qt-5.36.0.tar.xz">bluez-qt-5.36.0</a></td>
   <td align="right">73kB</td>
   <td><tt>3d4b7e7704fe990b9463094565a8eb26b8614c05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.36/breeze-icons-5.36.0.tar.xz">breeze-icons-5.36.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>b1be853c308aa246a6e3133dbeac435c8105bf68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.36/extra-cmake-modules-5.36.0.tar.xz">extra-cmake-modules-5.36.0</a></td>
   <td align="right">303kB</td>
   <td><tt>3e839f04287abded643c295aae76795a7ca9ab3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.36/frameworkintegration-5.36.0.tar.xz">frameworkintegration-5.36.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>3c82465e3ae6429b0a1745e073b09479deba2e8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.36/kactivities-5.36.0.tar.xz">kactivities-5.36.0</a></td>
   <td align="right">59kB</td>
   <td><tt>3ed4e5774b1b8110b9606c38c451471bf2ec2830</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.36/kactivities-stats-5.36.0.tar.xz">kactivities-stats-5.36.0</a></td>
   <td align="right">59kB</td>
   <td><tt>1639472f799841e3ea25d1f6759095263147142e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.36/kapidox-5.36.0.tar.xz">kapidox-5.36.0</a></td>
   <td align="right">386kB</td>
   <td><tt>45f1c89946631d3b80e202809ca10db323f95e69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.36/karchive-5.36.0.tar.xz">karchive-5.36.0</a></td>
   <td align="right">110kB</td>
   <td><tt>71af199296587250fa7635db77e411d84e2bdaa8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.36/kauth-5.36.0.tar.xz">kauth-5.36.0</a></td>
   <td align="right">82kB</td>
   <td><tt>6cedc38f08f3c54709e2efcb73f6456b954aef81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.36/kbookmarks-5.36.0.tar.xz">kbookmarks-5.36.0</a></td>
   <td align="right">114kB</td>
   <td><tt>d9c83b57ecb4bfbf2c4b3149e77205a9303adb14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.36/kcmutils-5.36.0.tar.xz">kcmutils-5.36.0</a></td>
   <td align="right">229kB</td>
   <td><tt>b75510914ea8f06d4a43a7965767e5fb67e467a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.36/kcodecs-5.36.0.tar.xz">kcodecs-5.36.0</a></td>
   <td align="right">213kB</td>
   <td><tt>d5168026d3bcb397b184a4c3a2eda97874630825</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.36/kcompletion-5.36.0.tar.xz">kcompletion-5.36.0</a></td>
   <td align="right">115kB</td>
   <td><tt>1a7ccf522148f5077de436b645ea466200db2a21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.36/kconfig-5.36.0.tar.xz">kconfig-5.36.0</a></td>
   <td align="right">227kB</td>
   <td><tt>390697133532af440f4aff8c7354bf36a4590466</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.36/kconfigwidgets-5.36.0.tar.xz">kconfigwidgets-5.36.0</a></td>
   <td align="right">366kB</td>
   <td><tt>3800742bb7646f86fad9b124a68454bb314667db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.36/kcoreaddons-5.36.0.tar.xz">kcoreaddons-5.36.0</a></td>
   <td align="right">338kB</td>
   <td><tt>8fc602441aea54221e3619677ffe6c4d5d626cb4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.36/kcrash-5.36.0.tar.xz">kcrash-5.36.0</a></td>
   <td align="right">21kB</td>
   <td><tt>20d1a294f819c4309289d7ade41c48a88316260f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.36/kdbusaddons-5.36.0.tar.xz">kdbusaddons-5.36.0</a></td>
   <td align="right">34kB</td>
   <td><tt>cad32ea1837a1258331bb8bbd10376980a872318</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.36/kdeclarative-5.36.0.tar.xz">kdeclarative-5.36.0</a></td>
   <td align="right">165kB</td>
   <td><tt>2a22c04a35668ce089d67c588c8d2ec0f09e66ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.36/kded-5.36.0.tar.xz">kded-5.36.0</a></td>
   <td align="right">37kB</td>
   <td><tt>3ce2e385413363f3e4d28224af7ea822baf672a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.36/kdesignerplugin-5.36.0.tar.xz">kdesignerplugin-5.36.0</a></td>
   <td align="right">88kB</td>
   <td><tt>fa6cc3946b3feb0d024d51e9784b61ae8d4647ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.36/kdesu-5.36.0.tar.xz">kdesu-5.36.0</a></td>
   <td align="right">43kB</td>
   <td><tt>084a10eb61386a7d5da90ce1156d89e96cfe665b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.36/kdewebkit-5.36.0.tar.xz">kdewebkit-5.36.0</a></td>
   <td align="right">28kB</td>
   <td><tt>747b765dc52b6a8eb7a4700651e1fcb45e7095db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.36/kdnssd-5.36.0.tar.xz">kdnssd-5.36.0</a></td>
   <td align="right">55kB</td>
   <td><tt>b419f299a3257ad55ca614f0b4887880f343755d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.36/kdoctools-5.36.0.tar.xz">kdoctools-5.36.0</a></td>
   <td align="right">407kB</td>
   <td><tt>af9bda1cc5be151fc7c961fba9c53a16b1e97a77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.36/kemoticons-5.36.0.tar.xz">kemoticons-5.36.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>907ccc5d7ab887ff7661c0c3169298d76714e387</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.36/kfilemetadata-5.36.0.tar.xz">kfilemetadata-5.36.0</a></td>
   <td align="right">213kB</td>
   <td><tt>be5a127749faab3c5198e5a3de7783e44ea10569</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.36/kglobalaccel-5.36.0.tar.xz">kglobalaccel-5.36.0</a></td>
   <td align="right">81kB</td>
   <td><tt>ea851737182a7c869956c648595011bdfd76c9e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.36/kguiaddons-5.36.0.tar.xz">kguiaddons-5.36.0</a></td>
   <td align="right">39kB</td>
   <td><tt>690c64252ca27c1a7f97f20ac383b858fdd7b7e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.36/ki18n-5.36.0.tar.xz">ki18n-5.36.0</a></td>
   <td align="right">572kB</td>
   <td><tt>7636153e3f94c9845ec08587cc3a18dc40b020f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.36/kiconthemes-5.36.0.tar.xz">kiconthemes-5.36.0</a></td>
   <td align="right">200kB</td>
   <td><tt>84ff3120366f8fbbaedfbfd6849f475400422d45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.36/kidletime-5.36.0.tar.xz">kidletime-5.36.0</a></td>
   <td align="right">25kB</td>
   <td><tt>70ba0a9113345fbefb03327a1e616199b720b7eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.36/kimageformats-5.36.0.tar.xz">kimageformats-5.36.0</a></td>
   <td align="right">199kB</td>
   <td><tt>3c24b1a1b16ae08d488fc37eadfe6c5acb58f424</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.36/kinit-5.36.0.tar.xz">kinit-5.36.0</a></td>
   <td align="right">118kB</td>
   <td><tt>3b00a7f4f93b78fc6c8afca343eb6a34c242502c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.36/kio-5.36.0.tar.xz">kio-5.36.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>6d82f1955f96e3190fb38e19aa646caa6440a849</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.36/kitemmodels-5.36.0.tar.xz">kitemmodels-5.36.0</a></td>
   <td align="right">380kB</td>
   <td><tt>3a747d81cbd0bfe4239a832f5d2899eff4681383</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.36/kitemviews-5.36.0.tar.xz">kitemviews-5.36.0</a></td>
   <td align="right">73kB</td>
   <td><tt>d66b73d22df0f9b48db36424fba28bef173673e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.36/kjobwidgets-5.36.0.tar.xz">kjobwidgets-5.36.0</a></td>
   <td align="right">87kB</td>
   <td><tt>7b467f56b127817e2636c40ebcb3809584224f97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.36/knewstuff-5.36.0.tar.xz">knewstuff-5.36.0</a></td>
   <td align="right">869kB</td>
   <td><tt>9d0b9cc8981b0ea83fb6dafb3436f38bf9c36615</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.36/knotifications-5.36.0.tar.xz">knotifications-5.36.0</a></td>
   <td align="right">97kB</td>
   <td><tt>252f56974834042a86ca481b83d5146d13eef1f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.36/knotifyconfig-5.36.0.tar.xz">knotifyconfig-5.36.0</a></td>
   <td align="right">81kB</td>
   <td><tt>3f36275f255b28065cd68d79d0bb96ea2ea57ae9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.36/kpackage-5.36.0.tar.xz">kpackage-5.36.0</a></td>
   <td align="right">118kB</td>
   <td><tt>4eb953117f405b6a8cdd1d98da1652075cb513a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.36/kparts-5.36.0.tar.xz">kparts-5.36.0</a></td>
   <td align="right">151kB</td>
   <td><tt>4e89086f606c5127d141169b00ccb4c431271cad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.36/kpeople-5.36.0.tar.xz">kpeople-5.36.0</a></td>
   <td align="right">57kB</td>
   <td><tt>9742fdf405540a14bd4fc44b3afbb97ee77193e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.36/kplotting-5.36.0.tar.xz">kplotting-5.36.0</a></td>
   <td align="right">28kB</td>
   <td><tt>94f2c5beaa8fb45ee254d94dac2a66ea2402673c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.36/kpty-5.36.0.tar.xz">kpty-5.36.0</a></td>
   <td align="right">56kB</td>
   <td><tt>a6189647e51e18f383cf5274ca60c7e91e3a9183</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.36/krunner-5.36.0.tar.xz">krunner-5.36.0</a></td>
   <td align="right">66kB</td>
   <td><tt>01c3a7c37b94d93f200d00f2388d6d56568d4abc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.36/kservice-5.36.0.tar.xz">kservice-5.36.0</a></td>
   <td align="right">243kB</td>
   <td><tt>0c888bf919568d0b67e8da67f48200eca4862800</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.36/ktexteditor-5.36.0.tar.xz">ktexteditor-5.36.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>d5c837639e61955e43a0cc7c7a0a25534d92067f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.36/ktextwidgets-5.36.0.tar.xz">ktextwidgets-5.36.0</a></td>
   <td align="right">301kB</td>
   <td><tt>2a3b8df23a6abe8a73ebc2f2e91e685eedec3a47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.36/kunitconversion-5.36.0.tar.xz">kunitconversion-5.36.0</a></td>
   <td align="right">753kB</td>
   <td><tt>e9b2ebbc7246fcfd4021b8fd1e70b6b17a7ee742</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.36/kwallet-5.36.0.tar.xz">kwallet-5.36.0</a></td>
   <td align="right">296kB</td>
   <td><tt>59e30ddf84325b922794ebe9a056af35a3f1496f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.36/kwayland-5.36.0.tar.xz">kwayland-5.36.0</a></td>
   <td align="right">255kB</td>
   <td><tt>27992c7b8ab3a7738dc63d034608aa73f152d1f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.36/kwidgetsaddons-5.36.0.tar.xz">kwidgetsaddons-5.36.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>0b314015331333a916967fcf04f75293034baa79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.36/kwindowsystem-5.36.0.tar.xz">kwindowsystem-5.36.0</a></td>
   <td align="right">163kB</td>
   <td><tt>19bcadb29566137a22927bde9ed51ce22e69b383</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.36/kxmlgui-5.36.0.tar.xz">kxmlgui-5.36.0</a></td>
   <td align="right">863kB</td>
   <td><tt>ed7f6819297bb8e64ec56c9b79e9b17c428859a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.36/kxmlrpcclient-5.36.0.tar.xz">kxmlrpcclient-5.36.0</a></td>
   <td align="right">28kB</td>
   <td><tt>ac69e6ab4c65e1f8bd54d6c59f6df91f1d33bb32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.36/modemmanager-qt-5.36.0.tar.xz">modemmanager-qt-5.36.0</a></td>
   <td align="right">96kB</td>
   <td><tt>af6028540d04359c86dfe86f2d84b23778095c5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.36/networkmanager-qt-5.36.0.tar.xz">networkmanager-qt-5.36.0</a></td>
   <td align="right">159kB</td>
   <td><tt>4f4c615f3d99c6f6a90321fb27c9d79cc4190c66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.36/oxygen-icons5-5.36.0.tar.xz">oxygen-icons5-5.36.0</a></td>
   <td align="right">223MB</td>
   <td><tt>36a513068866ff7987da06f95bcad800c92a195b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.36/plasma-framework-5.36.0.tar.xz">plasma-framework-5.36.0</a></td>
   <td align="right">4.3MB</td>
   <td><tt>088526d9d8f7185c7cdffbb3727d48c71b8f8a3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.36/prison-5.36.0.tar.xz">prison-5.36.0</a></td>
   <td align="right">13kB</td>
   <td><tt>ab9fce0926f71eb96bc2f18bfcc7549d014db08c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.36/solid-5.36.0.tar.xz">solid-5.36.0</a></td>
   <td align="right">241kB</td>
   <td><tt>0a5f5a6b4af3f1085fafb96114bb6d65a5c48c5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.36/sonnet-5.36.0.tar.xz">sonnet-5.36.0</a></td>
   <td align="right">278kB</td>
   <td><tt>1f43659cf5f408cf4ad7420ab33ea37ffe7bc43b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.36/syntax-highlighting-5.36.0.tar.xz">syntax-highlighting-5.36.0</a></td>
   <td align="right">971kB</td>
   <td><tt>690ceab3974932527793e6bd576a162faab56304</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.36/threadweaver-5.36.0.tar.xz">threadweaver-5.36.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>c9545a2043bd2348d966c3908356fd646e299166</tt></td>
</tr>

</table>
