<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.2/bluedevil-5.21.2.tar.xz">bluedevil-5.21.2</a></td>
   <td align="right">158kB</td>
   <td><tt>8f0fc7cb133f1d9b5ea4cbb21d7f2e029e5b5184574e46ba5b43c85aae5006a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.2/breeze-5.21.2.tar.xz">breeze-5.21.2</a></td>
   <td align="right">25MB</td>
   <td><tt>641cf3613d939b37437bac0e3caa1f25171ed2b4adf8e4037a0fd0dbb1b1146d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.2/breeze-grub-5.21.2.tar.xz">breeze-grub-5.21.2</a></td>
   <td align="right">3.0MB</td>
   <td><tt>d364a2263448a08414dd68db0bf7e9d397b5d4b20b1e91ea697aaf9c37586a3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.2/breeze-gtk-5.21.2.tar.xz">breeze-gtk-5.21.2</a></td>
   <td align="right">46kB</td>
   <td><tt>23c6de40348762e2d3c38d72537675891e3d937210341acfad7ae3a034b29d57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.2/breeze-plymouth-5.21.2.tar.xz">breeze-plymouth-5.21.2</a></td>
   <td align="right">106kB</td>
   <td><tt>a8965fedc2d0f2247421dce472ea1f13b25f6323238af5e7ab708429667150fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.2/discover-5.21.2.tar.xz">discover-5.21.2</a></td>
   <td align="right">8.0MB</td>
   <td><tt>7ae56514adca76276dba0bd185389e12ea05dbd0e4d297684e4ed67bfddfd291</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.2/drkonqi-5.21.2.tar.xz">drkonqi-5.21.2</a></td>
   <td align="right">750kB</td>
   <td><tt>c1d9dc90d01554ac277f8e1734df45c551f46913c19e44df56267560e047b909</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.2/kactivitymanagerd-5.21.2.tar.xz">kactivitymanagerd-5.21.2</a></td>
   <td align="right">96kB</td>
   <td><tt>92aa23f36751bb24b00ef0e818783f997437b15c7589074adc6bb962e3559a15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.2/kde-cli-tools-5.21.2.tar.xz">kde-cli-tools-5.21.2</a></td>
   <td align="right">595kB</td>
   <td><tt>07bc872cf78f8f3e45e22b8bd1413a5d37a8c9ab9b4d255c1a3ebb46618dfc10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.2/kdecoration-5.21.2.tar.xz">kdecoration-5.21.2</a></td>
   <td align="right">44kB</td>
   <td><tt>31b07c0c53ce84370e3c74eaa92caffc7148bc17864f1a9d8ac5b8c32cfa795e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.2/kde-gtk-config-5.21.2.tar.xz">kde-gtk-config-5.21.2</a></td>
   <td align="right">67kB</td>
   <td><tt>c1721bde6a160a196a53475d5c193d02c0a928a5ec47a04d7333907a74e6470f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.2/kdeplasma-addons-5.21.2.tar.xz">kdeplasma-addons-5.21.2</a></td>
   <td align="right">611kB</td>
   <td><tt>237ebfce30f84ff5612d5b42bc6d8229032f81c0e392cbd8a4f1f31260c79938</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.2/kgamma5-5.21.2.tar.xz">kgamma5-5.21.2</a></td>
   <td align="right">80kB</td>
   <td><tt>d1c5fdf27408f43faa2ab6e18cda373860c4fce8e13dd213d9b4fb7aaf32d832</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.2/khotkeys-5.21.2.tar.xz">khotkeys-5.21.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>8ea1394e3c2cee173420b7d7e14dbf92bce2a780504b4f60b91be33728279f41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.2/kinfocenter-5.21.2.tar.xz">kinfocenter-5.21.2</a></td>
   <td align="right">1.2MB</td>
   <td><tt>353a1c960cd01a17378de19796879e910c223b1f2b07611962ac34118a35d09c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.2/kmenuedit-5.21.2.tar.xz">kmenuedit-5.21.2</a></td>
   <td align="right">878kB</td>
   <td><tt>5aa28e095ae2cca278f27c5d9931d758f6857fa6462dafb0f27ef507d417b53f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.2/kscreen-5.21.2.tar.xz">kscreen-5.21.2</a></td>
   <td align="right">111kB</td>
   <td><tt>beeba77f91183e460c7d9d58d2b3769951681dae4d096571577aa5cc8b362104</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.2/kscreenlocker-5.21.2.tar.xz">kscreenlocker-5.21.2</a></td>
   <td align="right">114kB</td>
   <td><tt>f9a63a2dcc3d540fd45484618424366ded4568ccadad93b80b6c42740af171f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.2/ksshaskpass-5.21.2.tar.xz">ksshaskpass-5.21.2</a></td>
   <td align="right">23kB</td>
   <td><tt>85527240fe0a2dd7da5e89740678b473b36f14959b201cddd50ef3c0890dd2fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.2/ksysguard-5.21.2.tar.xz">ksysguard-5.21.2</a></td>
   <td align="right">589kB</td>
   <td><tt>547e32d87c32f6c883ebb08a54486d49ad9d87185bae8f82c82fef95b4e028d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.2/kwallet-pam-5.21.2.tar.xz">kwallet-pam-5.21.2</a></td>
   <td align="right">19kB</td>
   <td><tt>864717b9082e83bf93f0d9fbf8c31adf31c64af2fc4729cbaf67982fba93ff8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.2/kwayland-integration-5.21.2.tar.xz">kwayland-integration-5.21.2</a></td>
   <td align="right">22kB</td>
   <td><tt>6046514b84c4a1905a43fb7c3482c8fdbd1eb0f55efdd79a2a827073639086bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.2/kwayland-server-5.21.2.tar.xz">kwayland-server-5.21.2</a></td>
   <td align="right">214kB</td>
   <td><tt>0ea9ba09575ef5fb8368284b327eef2ee77d17c20511a3b7219f9b4e465f6aa3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.2/kwin-5.21.2.tar.xz">kwin-5.21.2</a></td>
   <td align="right">6.0MB</td>
   <td><tt>14896e98e5600eba7c3aa7f18168bec697ba1670c012a560b33302075bb0465a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.2/kwrited-5.21.2.tar.xz">kwrited-5.21.2</a></td>
   <td align="right">20kB</td>
   <td><tt>afed5c80700cfae4db18b22ddfdefeaaf72fe21f85188b2003b691dc94a211d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.2/libkscreen-5.21.2.tar.xz">libkscreen-5.21.2</a></td>
   <td align="right">82kB</td>
   <td><tt>21393c76b1646303d4b550538e9b3b7b044e9c1a605cfabde780e931bbe4a70d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.2/libksysguard-5.21.2.tar.xz">libksysguard-5.21.2</a></td>
   <td align="right">689kB</td>
   <td><tt>0306e2556d94e3366b015d8bb5d7430c1fb66269ad7c0fbce1fecb8970649982</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.2/milou-5.21.2.tar.xz">milou-5.21.2</a></td>
   <td align="right">42kB</td>
   <td><tt>460acbef68f29335c6938fae9c37fff68ecd634beab4bcdaea6b2cacf05808da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.2/oxygen-5.21.2.tar.xz">oxygen-5.21.2</a></td>
   <td align="right">4.2MB</td>
   <td><tt>386be06089400f8aa42902a05542faff5e6d9e7e9a7e5f712f180c96272ea57a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.2/plasma-browser-integration-5.21.2.tar.xz">plasma-browser-integration-5.21.2</a></td>
   <td align="right">198kB</td>
   <td><tt>e52eef2933eeaadbec405c9bf2ca16cd03008e517c13ee3705bc31f711085d30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.2/plasma-desktop-5.21.2.tar.xz">plasma-desktop-5.21.2</a></td>
   <td align="right">15MB</td>
   <td><tt>7dfadd6b711d277ebbc40ea8a49c84b39f27b77afe3273f153f8afbecd74782d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.2/plasma-disks-5.21.2.tar.xz">plasma-disks-5.21.2</a></td>
   <td align="right">68kB</td>
   <td><tt>eee1bd40d72f62710aefa7c2909a4b900b1b1a9f47fbf7e48a1b0ee90654f413</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.2/plasma-firewall-5.21.2.tar.xz">plasma-firewall-5.21.2</a></td>
   <td align="right">322kB</td>
   <td><tt>4476eecafbbe0de870fd0da7f079608a7432843ab9609e5e8f172b61a657b695</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.2/plasma-integration-5.21.2.tar.xz">plasma-integration-5.21.2</a></td>
   <td align="right">59kB</td>
   <td><tt>34a2745f20cbde4723f87fca2c6640dc1fd2aec6625fbeba12c14986e24a78ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.2/plasma-nano-5.21.2.tar.xz">plasma-nano-5.21.2</a></td>
   <td align="right">63kB</td>
   <td><tt>a41d6b538833065d9cd09a66f98fe2be7b76dec2995d0f8a816c407b3ba534f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.2/plasma-nm-5.21.2.tar.xz">plasma-nm-5.21.2</a></td>
   <td align="right">875kB</td>
   <td><tt>cae80db9fc8d1d050c78210929ff120b3371028f6af79a77d083ddac0fd274e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.2/plasma-pa-5.21.2.tar.xz">plasma-pa-5.21.2</a></td>
   <td align="right">110kB</td>
   <td><tt>dda139d825ef2b45546e23e78a734f95d48fbba7cd5ec00a9ddd5d647475a181</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.2/plasma-phone-components-5.21.2.tar.xz">plasma-phone-components-5.21.2</a></td>
   <td align="right">1.4MB</td>
   <td><tt>172c7073948f140d088fe203391cf1e7d91f80eaa60382ef667d4880755e25aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.2/plasma-sdk-5.21.2.tar.xz">plasma-sdk-5.21.2</a></td>
   <td align="right">262kB</td>
   <td><tt>7c321c3ffc4e27ba16ae752527e21ac005b894dd2deb5329dd30b7bc9409c721</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.2/plasma-systemmonitor-5.21.2.tar.xz">plasma-systemmonitor-5.21.2</a></td>
   <td align="right">119kB</td>
   <td><tt>4471ea3115e22ee9a16f3281cce05a402cece5aa60f85ee1aa7df4ae2204ab8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.2/plasma-tests-5.21.2.tar.xz">plasma-tests-5.21.2</a></td>
   <td align="right">1kB</td>
   <td><tt>e5fb0cd2abdba1a105c0aa7cca2fcd01da389500965690444d26384ab53161fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.2/plasma-thunderbolt-5.21.2.tar.xz">plasma-thunderbolt-5.21.2</a></td>
   <td align="right">55kB</td>
   <td><tt>0b3b22aa7b1ef1dc7911a64b4191fec46fe3b3f39da3fbe73928144b6dcff7f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.2/plasma-vault-5.21.2.tar.xz">plasma-vault-5.21.2</a></td>
   <td align="right">155kB</td>
   <td><tt>ba1bf86ee7c708a3887ae04ab20e5ef766d71104ebf1e50cac99c5b521dded25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.2/plasma-workspace-5.21.2.tar.xz">plasma-workspace-5.21.2</a></td>
   <td align="right">9.2MB</td>
   <td><tt>f3c30b3c51dd9d127ba4086252eebef22a7fe5dd34c7fa19498559ccab73d4cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.2/plasma-workspace-wallpapers-5.21.2.tar.xz">plasma-workspace-wallpapers-5.21.2</a></td>
   <td align="right">45MB</td>
   <td><tt>8f83fa295e92ad438d33380d784d19f79ef7c223ab26b0105623562fccf5142e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.2/plymouth-kcm-5.21.2.tar.xz">plymouth-kcm-5.21.2</a></td>
   <td align="right">42kB</td>
   <td><tt>91941931e057d847d047c34ed9fe45d20dea6b664a15646025f3886241b4c7c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.2/polkit-kde-agent-1-5.21.2.tar.xz">polkit-kde-agent-1-5.21.2</a></td>
   <td align="right">44kB</td>
   <td><tt>4f3b40a866b1b3994cf3b464b7bdad4da10e8c391312dafb1fd5e1c72a7a29fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.2/powerdevil-5.21.2.tar.xz">powerdevil-5.21.2</a></td>
   <td align="right">599kB</td>
   <td><tt>55aacf9183171bf9accdf71158940e76ff6cbc71c00eca5a3917cb69efaa371b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.2/qqc2-breeze-style-5.21.2.tar.xz">qqc2-breeze-style-5.21.2</a></td>
   <td align="right">60kB</td>
   <td><tt>b5bccd5c00d20233c84ae3da50fb1fcef55379d7f23e0d57b144f32cdab16e50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.2/sddm-kcm-5.21.2.tar.xz">sddm-kcm-5.21.2</a></td>
   <td align="right">61kB</td>
   <td><tt>08a1337fee005d26f29d405d543c6693d28e108e269ec10bb8705da5354abbef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.2/systemsettings-5.21.2.tar.xz">systemsettings-5.21.2</a></td>
   <td align="right">193kB</td>
   <td><tt>cd355f1c9438cb5d177e7d8bf228342c6e0b6a3080b0ee479897d55431b788fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.21.2/xdg-desktop-portal-kde-5.21.2.tar.xz">xdg-desktop-portal-kde-5.21.2</a></td>
   <td align="right">80kB</td>
   <td><tt>b4cf61e4f8d38081d35c8618985db5644128c8a08264304d7c2f2b8ef0c96abe</tt></td>
</tr>

</table>
