{{ define "main" }}
<main class="container" role="main">
  <article class="post-content">
    <h1>{{ .Title }}</h1>
    <hr>
    {{ .Content }}
    <div class="row">
      {{ range .Params.columns }}
        <section class="col-md-6 col-12">
          <h2>{{ .title }}</h2>
          {{ with .text }}<p>{{ . | markdownify }}</p>{{ end }}
          {{ range .rows }}
            {{ with .title }}
              <h3>{{ . }}</h3>
            {{ end }}
            <p>{{ .text | markdownify }}</p>
            <a class="learn-more" href="{{ .url }}">{{ i18n "learn-more" }}</a>
          {{ end }}
        </section>
      {{ end }}
    </div>
  </article>
</main>
{{ end }}
