<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/akonadi-20.12.0.tar.xz">akonadi-20.12.0</a></td>
   <td align="right">1555kB</td>
   <td><tt>a2fe353125326e3826363927bbff526712a7fc7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/akonadi-calendar-20.12.0.tar.xz">akonadi-calendar-20.12.0</a></td>
   <td align="right">334kB</td>
   <td><tt>f1fc93bed2c5cc40b6b1ad2269ffa881745aafae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/akonadi-calendar-tools-20.12.0.tar.xz">akonadi-calendar-tools-20.12.0</a></td>
   <td align="right">218kB</td>
   <td><tt>35efa5e0842f9348a59fd177d7cf65c40d341dbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/akonadiconsole-20.12.0.tar.xz">akonadiconsole-20.12.0</a></td>
   <td align="right">193kB</td>
   <td><tt>7fe0a30b3bbe5d8773f6218bbfbd401b29627b04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/akonadi-contacts-20.12.0.tar.xz">akonadi-contacts-20.12.0</a></td>
   <td align="right">403kB</td>
   <td><tt>de5e0e8d67aee24270a4031a98574dabd2abea7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/akonadi-import-wizard-20.12.0.tar.xz">akonadi-import-wizard-20.12.0</a></td>
   <td align="right">492kB</td>
   <td><tt>1849f8c94a28061c3e22b587168bec7132e878fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/akonadi-mime-20.12.0.tar.xz">akonadi-mime-20.12.0</a></td>
   <td align="right">131kB</td>
   <td><tt>179f047b060c966a2de43480e3eb95ca66566d1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/akonadi-notes-20.12.0.tar.xz">akonadi-notes-20.12.0</a></td>
   <td align="right">22kB</td>
   <td><tt>372c2acc966462af8269b18dd2f083e4b784f614</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/akonadi-search-20.12.0.tar.xz">akonadi-search-20.12.0</a></td>
   <td align="right">91kB</td>
   <td><tt>a8a686d3e654ec91f1795f395dcd665f3ebbe153</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/akregator-20.12.0.tar.xz">akregator-20.12.0</a></td>
   <td align="right">2151kB</td>
   <td><tt>1357795554854160b4afe8a11868a70b9b6fa9ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/analitza-20.12.0.tar.xz">analitza-20.12.0</a></td>
   <td align="right">330kB</td>
   <td><tt>04d5f5e7f5810dd3ef4b553befc457285222c16d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/ark-20.12.0.tar.xz">ark-20.12.0</a></td>
   <td align="right">2652kB</td>
   <td><tt>7a068184dd27176912e5ff1e62d636a5f7691ddc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/artikulate-20.12.0.tar.xz">artikulate-20.12.0</a></td>
   <td align="right">1058kB</td>
   <td><tt>d6db11c987741511007d1a1305e22f7b123b6fab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/audiocd-kio-20.12.0.tar.xz">audiocd-kio-20.12.0</a></td>
   <td align="right">488kB</td>
   <td><tt>23e2335f51ba69210f285514bfc49feca7d29623</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/baloo-widgets-20.12.0.tar.xz">baloo-widgets-20.12.0</a></td>
   <td align="right">255kB</td>
   <td><tt>5cc05240fd25eea61aa0decd1e107c34a9e82b4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/blinken-20.12.0.tar.xz">blinken-20.12.0</a></td>
   <td align="right">2762kB</td>
   <td><tt>1111b77a6de3572b640d2c32f0c1272f0ab6a567</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/bomber-20.12.0.tar.xz">bomber-20.12.0</a></td>
   <td align="right">805kB</td>
   <td><tt>26e1e2d88979f6702c9bc87303dcbc218d1bbd3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/bovo-20.12.0.tar.xz">bovo-20.12.0</a></td>
   <td align="right">200kB</td>
   <td><tt>326b9843acc8725ee8ff75275586534ed75cec75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/calendarsupport-20.12.0.tar.xz">calendarsupport-20.12.0</a></td>
   <td align="right">649kB</td>
   <td><tt>5ee20a4e29d3186d0595a2c3de06af5084f48add</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/cantor-20.12.0.tar.xz">cantor-20.12.0</a></td>
   <td align="right">8889kB</td>
   <td><tt>63bf506f9b3037441cc2ed85494c385877f0600e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/cervisia-20.12.0.tar.xz">cervisia-20.12.0</a></td>
   <td align="right">1843kB</td>
   <td><tt>436d62964b2c04808651696af2adb9adc9bc9c16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/dolphin-20.12.0.tar.xz">dolphin-20.12.0</a></td>
   <td align="right">4995kB</td>
   <td><tt>48bef56d1cc035cd68ab827cd3acf90ac6a1c61d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/dolphin-plugins-20.12.0.tar.xz">dolphin-plugins-20.12.0</a></td>
   <td align="right">230kB</td>
   <td><tt>a9acb7ece90eaf3c613f735ce5e438c884bd40cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/dragon-20.12.0.tar.xz">dragon-20.12.0</a></td>
   <td align="right">1617kB</td>
   <td><tt>1b01b95324da4345fb5ba9df6ca1931decfba48c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/elisa-20.12.0.tar.xz">elisa-20.12.0</a></td>
   <td align="right">1621kB</td>
   <td><tt>3f05a1b84dbc333ef9cdfd7d3eb5be6be08a6bc4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/eventviews-20.12.0.tar.xz">eventviews-20.12.0</a></td>
   <td align="right">433kB</td>
   <td><tt>126a69018159312deb86a3c566dbe3a5516ed27a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/ffmpegthumbs-20.12.0.tar.xz">ffmpegthumbs-20.12.0</a></td>
   <td align="right">33kB</td>
   <td><tt>60e269b92c0f84b7373d8722defb8b0371ceb2f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/filelight-20.12.0.tar.xz">filelight-20.12.0</a></td>
   <td align="right">655kB</td>
   <td><tt>3472a645ca5b51b352a5542124aa9a2d8bd6314a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/granatier-20.12.0.tar.xz">granatier-20.12.0</a></td>
   <td align="right">1906kB</td>
   <td><tt>319b09c432f115f6ceb7a63de800adba5d4fdccf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/grantlee-editor-20.12.0.tar.xz">grantlee-editor-20.12.0</a></td>
   <td align="right">104kB</td>
   <td><tt>9bf4db1c67e8fe373d7db5c763d9294afd848e7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/grantleetheme-20.12.0.tar.xz">grantleetheme-20.12.0</a></td>
   <td align="right">55kB</td>
   <td><tt>81cbdc9b515fc80267cf62493e4705ac3c741e06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/gwenview-20.12.0.tar.xz">gwenview-20.12.0</a></td>
   <td align="right">6587kB</td>
   <td><tt>b995ad9ed00283068d38b3e0e1ff9190bc878fd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/incidenceeditor-20.12.0.tar.xz">incidenceeditor-20.12.0</a></td>
   <td align="right">533kB</td>
   <td><tt>da3084aa32433d2fd2b447730dfa033178987a07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/itinerary-20.12.0.tar.xz">itinerary-20.12.0</a></td>
   <td align="right">322kB</td>
   <td><tt>1a475c2d51e8191029f163ba37e1c4a3e8a55b43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/juk-20.12.0.tar.xz">juk-20.12.0</a></td>
   <td align="right">1950kB</td>
   <td><tt>bcd1eb31deae1984da8ee8c1abfa4d9dc5a623e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/k3b-20.12.0.tar.xz">k3b-20.12.0</a></td>
   <td align="right">10434kB</td>
   <td><tt>161cc456b4ed972bc24a7bfd2a9db75ab5375649</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kaccounts-integration-20.12.0.tar.xz">kaccounts-integration-20.12.0</a></td>
   <td align="right">82kB</td>
   <td><tt>6cf8337d734f718e4f1175a9a2f3f6c551f72f18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kaccounts-providers-20.12.0.tar.xz">kaccounts-providers-20.12.0</a></td>
   <td align="right">59kB</td>
   <td><tt>d0a072f5dd226f2147fbd011d3faf49e1fe1ca24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kaddressbook-20.12.0.tar.xz">kaddressbook-20.12.0</a></td>
   <td align="right">3179kB</td>
   <td><tt>9549e5dfd92cf26ac582d271aaccc23db37d3a25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kajongg-20.12.0.tar.xz">kajongg-20.12.0</a></td>
   <td align="right">4366kB</td>
   <td><tt>241689b3d892d5aa6815267ac54a985f5342b48e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kalarm-20.12.0.tar.xz">kalarm-20.12.0</a></td>
   <td align="right">2027kB</td>
   <td><tt>6f1f104d69274c7adcc8d3f599cf6a975ce10d3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kalarmcal-20.12.0.tar.xz">kalarmcal-20.12.0</a></td>
   <td align="right">562kB</td>
   <td><tt>07bf37ff1f3b2fcdf0c99a59d504ed16b9617925</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kalgebra-20.12.0.tar.xz">kalgebra-20.12.0</a></td>
   <td align="right">1120kB</td>
   <td><tt>e1c3543c7b93ad6a7828ce7ea2db65bb48a95820</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kalzium-20.12.0.tar.xz">kalzium-20.12.0</a></td>
   <td align="right">23947kB</td>
   <td><tt>1ee41a27b795600bc52d977ac7a0fb39d76aefe5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kamera-20.12.0.tar.xz">kamera-20.12.0</a></td>
   <td align="right">106kB</td>
   <td><tt>9f12811289ff0844e574b1e6824fd88e6b721e86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kamoso-20.12.0.tar.xz">kamoso-20.12.0</a></td>
   <td align="right">206kB</td>
   <td><tt>8d530fcd5a05c1aef986381fd83184b0631cf708</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kanagram-20.12.0.tar.xz">kanagram-20.12.0</a></td>
   <td align="right">7841kB</td>
   <td><tt>977be1e631c448d790ec0fceeccf8ecb753ea67f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kapman-20.12.0.tar.xz">kapman-20.12.0</a></td>
   <td align="right">2472kB</td>
   <td><tt>967564a1a4b1d0c6cdceafd2ac667145e7254f01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kapptemplate-20.12.0.tar.xz">kapptemplate-20.12.0</a></td>
   <td align="right">327kB</td>
   <td><tt>3af036762a83529e80b33ceda06cfa6191804e7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kate-20.12.0.tar.xz">kate-20.12.0</a></td>
   <td align="right">5723kB</td>
   <td><tt>c7344c75128e67b14822edc3d0736ca86cb2ada0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/katomic-20.12.0.tar.xz">katomic-20.12.0</a></td>
   <td align="right">1395kB</td>
   <td><tt>6b6bbef7a76d7b3be59498823e3373e823ee8c97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kbackup-20.12.0.tar.xz">kbackup-20.12.0</a></td>
   <td align="right">371kB</td>
   <td><tt>9894e238b2aa036d162407be85360a4382285f2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kblackbox-20.12.0.tar.xz">kblackbox-20.12.0</a></td>
   <td align="right">439kB</td>
   <td><tt>4a5a7ca806d0abea4bffbeaa02c3eac8d8d7af88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kblocks-20.12.0.tar.xz">kblocks-20.12.0</a></td>
   <td align="right">1863kB</td>
   <td><tt>2c69997992b0eb96f4245c4430cfcc6849396e0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kbounce-20.12.0.tar.xz">kbounce-20.12.0</a></td>
   <td align="right">3362kB</td>
   <td><tt>16264bd4f71e578956c891f958261bc1bb8eaabc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kbreakout-20.12.0.tar.xz">kbreakout-20.12.0</a></td>
   <td align="right">2230kB</td>
   <td><tt>dd8d5db3a8924e2c1a21f99b6c784e60a0de8d81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kbruch-20.12.0.tar.xz">kbruch-20.12.0</a></td>
   <td align="right">5483kB</td>
   <td><tt>291409b527b70236d4fab0585e80ada88a806b1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kcachegrind-20.12.0.tar.xz">kcachegrind-20.12.0</a></td>
   <td align="right">796kB</td>
   <td><tt>8fcf92aa807a4802e47789af0642ef972e33b19c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kcalc-20.12.0.tar.xz">kcalc-20.12.0</a></td>
   <td align="right">371kB</td>
   <td><tt>b935d06eb0dd88149a50760495f6016671766eca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kcalutils-20.12.0.tar.xz">kcalutils-20.12.0</a></td>
   <td align="right">317kB</td>
   <td><tt>d93ebae0c187801c77d7164be6556fe3fcb635f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kcharselect-20.12.0.tar.xz">kcharselect-20.12.0</a></td>
   <td align="right">357kB</td>
   <td><tt>2694809b8aaa13259432589b3b9de4924fa4d83b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kcolorchooser-20.12.0.tar.xz">kcolorchooser-20.12.0</a></td>
   <td align="right">26kB</td>
   <td><tt>ad22209ae248fc20d17a64e022ce9c6565f75bce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kcron-20.12.0.tar.xz">kcron-20.12.0</a></td>
   <td align="right">877kB</td>
   <td><tt>3f2a26189ceab6d1ddb448b60a674f5635d60d2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kdebugsettings-20.12.0.tar.xz">kdebugsettings-20.12.0</a></td>
   <td align="right">66kB</td>
   <td><tt>7b14b0a15aad07d74e40f123a42976834aadbaee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kdeconnect-kde-20.12.0.tar.xz">kdeconnect-kde-20.12.0</a></td>
   <td align="right">536kB</td>
   <td><tt>42fdf6596de31220fb312f67f7a3658b6a276021</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kde-dev-scripts-20.12.0.tar.xz">kde-dev-scripts-20.12.0</a></td>
   <td align="right">357kB</td>
   <td><tt>dc6fb748aa288862f277943c383a9a82161bac4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kde-dev-utils-20.12.0.tar.xz">kde-dev-utils-20.12.0</a></td>
   <td align="right">64kB</td>
   <td><tt>c11bb75d12d1391f2c84add4ba8a4c1c93d652c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kdeedu-data-20.12.0.tar.xz">kdeedu-data-20.12.0</a></td>
   <td align="right">327kB</td>
   <td><tt>b97cc141225e0d27133dad7ea100efcd7275c8a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kdegraphics-mobipocket-20.12.0.tar.xz">kdegraphics-mobipocket-20.12.0</a></td>
   <td align="right">16kB</td>
   <td><tt>9fc1de034ed5e03350eb164724c20acfa06ba79e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kdegraphics-thumbnailers-20.12.0.tar.xz">kdegraphics-thumbnailers-20.12.0</a></td>
   <td align="right">45kB</td>
   <td><tt>7e739814c2ed36e58bbf5547358be34f1860385d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kdenetwork-filesharing-20.12.0.tar.xz">kdenetwork-filesharing-20.12.0</a></td>
   <td align="right">336kB</td>
   <td><tt>db6bed8bc6208b259c96b755baa36ffecefbbfd7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kdenlive-20.12.0.tar.xz">kdenlive-20.12.0</a></td>
   <td align="right">11204kB</td>
   <td><tt>d0c64797a736c554b9f5400d84c22c4579dc566a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kdepim-addons-20.12.0.tar.xz">kdepim-addons-20.12.0</a></td>
   <td align="right">2095kB</td>
   <td><tt>6314b5d77679470a1d4b12df32a25af161f0282a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kdepim-runtime-20.12.0.tar.xz">kdepim-runtime-20.12.0</a></td>
   <td align="right">1758kB</td>
   <td><tt>f838e5a1d08f1ac12e2cb44b815fa84b0592901b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kdesdk-kioslaves-20.12.0.tar.xz">kdesdk-kioslaves-20.12.0</a></td>
   <td align="right">36kB</td>
   <td><tt>158078beb96eab59181fef498a337f8a3168d06d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kdesdk-thumbnailers-20.12.0.tar.xz">kdesdk-thumbnailers-20.12.0</a></td>
   <td align="right">17kB</td>
   <td><tt>93a02056f5c6100f3f28644378ec7fe35eea3475</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kdf-20.12.0.tar.xz">kdf-20.12.0</a></td>
   <td align="right">456kB</td>
   <td><tt>d4da96ff88d6fa5668c2779055ac5a6dcb085b06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kdialog-20.12.0.tar.xz">kdialog-20.12.0</a></td>
   <td align="right">105kB</td>
   <td><tt>5e57af1421d783d00deb8bb725e9b1e70632cc2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kdiamond-20.12.0.tar.xz">kdiamond-20.12.0</a></td>
   <td align="right">4588kB</td>
   <td><tt>526381a2414d4ea3d9d2c57906ff51f0f2db16bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/keditbookmarks-20.12.0.tar.xz">keditbookmarks-20.12.0</a></td>
   <td align="right">186kB</td>
   <td><tt>1e011d56a9387e6e7ab1b19e9c70b9a8efeaddb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kfind-20.12.0.tar.xz">kfind-20.12.0</a></td>
   <td align="right">272kB</td>
   <td><tt>ac2e3fd34c6363bffb0f61e1dd0302f867c3e42b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kfloppy-20.12.0.tar.xz">kfloppy-20.12.0</a></td>
   <td align="right">199kB</td>
   <td><tt>9bf5456acd4b132eb320c63de24b40c196ab9f14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kfourinline-20.12.0.tar.xz">kfourinline-20.12.0</a></td>
   <td align="right">628kB</td>
   <td><tt>d2a37c6657b58ef762c56dd5f3ceb500882c5cb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kgeography-20.12.0.tar.xz">kgeography-20.12.0</a></td>
   <td align="right">10511kB</td>
   <td><tt>a74eeb5f366146ba841633c3bde17211ca235ada</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kget-20.12.0.tar.xz">kget-20.12.0</a></td>
   <td align="right">5453kB</td>
   <td><tt>9f930354b223aa44516340dfc2a70181fedfebcb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kgoldrunner-20.12.0.tar.xz">kgoldrunner-20.12.0</a></td>
   <td align="right">4340kB</td>
   <td><tt>eed618497fea8f0134fbe71ecf7e47e7266a3d31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kgpg-20.12.0.tar.xz">kgpg-20.12.0</a></td>
   <td align="right">2816kB</td>
   <td><tt>7bbffcb1533f4e864144c6611e552b7312cf7801</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/khangman-20.12.0.tar.xz">khangman-20.12.0</a></td>
   <td align="right">7231kB</td>
   <td><tt>27ddb8217c02afc8a9d95517cc1a23d2b4c57187</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/khelpcenter-20.12.0.tar.xz">khelpcenter-20.12.0</a></td>
   <td align="right">4151kB</td>
   <td><tt>d75e06b0df6d3fbd9ec55182ccd510fd34a554ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kidentitymanagement-20.12.0.tar.xz">kidentitymanagement-20.12.0</a></td>
   <td align="right">148kB</td>
   <td><tt>ce1e629152b6a70412195001c7ea49ffadb3d643</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kig-20.12.0.tar.xz">kig-20.12.0</a></td>
   <td align="right">3048kB</td>
   <td><tt>649d437a7a945d84e270df397ed83e32e5be34b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kigo-20.12.0.tar.xz">kigo-20.12.0</a></td>
   <td align="right">5111kB</td>
   <td><tt>4cc34121aea283d9f5bb96acfda6cdd74402adb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/killbots-20.12.0.tar.xz">killbots-20.12.0</a></td>
   <td align="right">1158kB</td>
   <td><tt>dd21eea73f3270188fbe19f8e0022148d766c792</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kimagemapeditor-20.12.0.tar.xz">kimagemapeditor-20.12.0</a></td>
   <td align="right">1052kB</td>
   <td><tt>050c1bf7e19903fa1ad0dbee4f74213588de70fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kimap-20.12.0.tar.xz">kimap-20.12.0</a></td>
   <td align="right">121kB</td>
   <td><tt>4891f5280b46c8b0f4397bbc0597f54c165ef023</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kio-extras-20.12.0.tar.xz">kio-extras-20.12.0</a></td>
   <td align="right">618kB</td>
   <td><tt>0375834971fe85a9b235c3b676e648cd7e75d9ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kio-gdrive-20.12.0.tar.xz">kio-gdrive-20.12.0</a></td>
   <td align="right">62kB</td>
   <td><tt>06496f8e2a4f95dd5aa9eaa1b3e1cdbfbabf10e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kipi-plugins-20.12.0.tar.xz">kipi-plugins-20.12.0</a></td>
   <td align="right">1606kB</td>
   <td><tt>1f38ab34159853b6f7cac46e50d2ef0a28068fab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kirigami-gallery-20.12.0.tar.xz">kirigami-gallery-20.12.0</a></td>
   <td align="right">320kB</td>
   <td><tt>787a8215087ba41d33cb7102d7af5e8da9c8588a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kiriki-20.12.0.tar.xz">kiriki-20.12.0</a></td>
   <td align="right">369kB</td>
   <td><tt>6ee98931548c7159ee74e8e929e9df50533333f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kiten-20.12.0.tar.xz">kiten-20.12.0</a></td>
   <td align="right">11031kB</td>
   <td><tt>5d8e1e5eea252cd4431ff034068acaaf597b90b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kitinerary-20.12.0.tar.xz">kitinerary-20.12.0</a></td>
   <td align="right">1767kB</td>
   <td><tt>db1cb8ce26ab9d1264ce1fc16f2ffe75b7c06dc3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kjumpingcube-20.12.0.tar.xz">kjumpingcube-20.12.0</a></td>
   <td align="right">284kB</td>
   <td><tt>ad8e1159e496e15e3507cd15659b39d66976f5bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kldap-20.12.0.tar.xz">kldap-20.12.0</a></td>
   <td align="right">160kB</td>
   <td><tt>4f43b3563a9c9d8ce34794255ec45f14bd336030</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kleopatra-20.12.0.tar.xz">kleopatra-20.12.0</a></td>
   <td align="right">1952kB</td>
   <td><tt>73df6255cad553d4ffbfdbd35eb9c1f7dcbb5e69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/klettres-20.12.0.tar.xz">klettres-20.12.0</a></td>
   <td align="right">45738kB</td>
   <td><tt>6419ace652bc21a9040f785da01eb056e70c735e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/klickety-20.12.0.tar.xz">klickety-20.12.0</a></td>
   <td align="right">1362kB</td>
   <td><tt>d77b0aa43ab921eee60202845125092270d8fb84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/klines-20.12.0.tar.xz">klines-20.12.0</a></td>
   <td align="right">1748kB</td>
   <td><tt>ceef69b70183f199cda38c94cf56343a1c81b2b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kmag-20.12.0.tar.xz">kmag-20.12.0</a></td>
   <td align="right">681kB</td>
   <td><tt>13d039b1efa7ba980f11d96c5e3efe17a310df99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kmahjongg-20.12.0.tar.xz">kmahjongg-20.12.0</a></td>
   <td align="right">3354kB</td>
   <td><tt>4e6715d67289713510cb6a62e181c10d9229449f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kmail-20.12.0.tar.xz">kmail-20.12.0</a></td>
   <td align="right">4540kB</td>
   <td><tt>a2a94cddd2ce593fd9a90f561dbf1d8325ebf034</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kmail-account-wizard-20.12.0.tar.xz">kmail-account-wizard-20.12.0</a></td>
   <td align="right">155kB</td>
   <td><tt>b3ea358c4ff32663503e20da2232cb424e407646</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kmailtransport-20.12.0.tar.xz">kmailtransport-20.12.0</a></td>
   <td align="right">164kB</td>
   <td><tt>c3d8129c6dd3414428daf5055f40a4bbf252c972</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kmbox-20.12.0.tar.xz">kmbox-20.12.0</a></td>
   <td align="right">24kB</td>
   <td><tt>a0e184717db0def4e257fd0370881526c0ddbf6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kmime-20.12.0.tar.xz">kmime-20.12.0</a></td>
   <td align="right">147kB</td>
   <td><tt>ae4df8eadf5d9206adb9a371b48f872fc1af6700</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kmines-20.12.0.tar.xz">kmines-20.12.0</a></td>
   <td align="right">936kB</td>
   <td><tt>8280bac7244461911c68eedfc66224a986d3e372</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kmix-20.12.0.tar.xz">kmix-20.12.0</a></td>
   <td align="right">1121kB</td>
   <td><tt>fdee8149573a8b27af730da0e9d374dac7fe9f5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kmousetool-20.12.0.tar.xz">kmousetool-20.12.0</a></td>
   <td align="right">113kB</td>
   <td><tt>fe2a338d483c2cf3ce6aef0a0ee4337a78423781</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kmouth-20.12.0.tar.xz">kmouth-20.12.0</a></td>
   <td align="right">2034kB</td>
   <td><tt>ea3c1506cf90020c48dced52134011c94fd4b09f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kmplot-20.12.0.tar.xz">kmplot-20.12.0</a></td>
   <td align="right">2984kB</td>
   <td><tt>81697c9bd1b95f9b51bb6baa5981300d4d8266a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/knavalbattle-20.12.0.tar.xz">knavalbattle-20.12.0</a></td>
   <td align="right">1257kB</td>
   <td><tt>f869ff9431443bb2d5fff33098d010c927213a71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/knetwalk-20.12.0.tar.xz">knetwalk-20.12.0</a></td>
   <td align="right">1237kB</td>
   <td><tt>b905799e23b81698f14356c84d451720bffdeb0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/knights-20.12.0.tar.xz">knights-20.12.0</a></td>
   <td align="right">3452kB</td>
   <td><tt>162dcd5c1e1ec81a9d4973a0ba9e358b0245f72b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/knotes-20.12.0.tar.xz">knotes-20.12.0</a></td>
   <td align="right">318kB</td>
   <td><tt>a6f34f468c9e330ef520634fc77ebb44129ef475</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kolf-20.12.0.tar.xz">kolf-20.12.0</a></td>
   <td align="right">1005kB</td>
   <td><tt>aca17b78746b8e5c23d0215ffaf44d7b9bd5e64b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kollision-20.12.0.tar.xz">kollision-20.12.0</a></td>
   <td align="right">283kB</td>
   <td><tt>cfa73df4e70f21984d1cba3552c67da63bce67ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kolourpaint-20.12.0.tar.xz">kolourpaint-20.12.0</a></td>
   <td align="right">5553kB</td>
   <td><tt>6f182f8b06022d54371dcee9336e11d7068e13ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kompare-20.12.0.tar.xz">kompare-20.12.0</a></td>
   <td align="right">900kB</td>
   <td><tt>cc80a5c9b8845f1e9ee6eb1891d7b5019008fa14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/konqueror-20.12.0.tar.xz">konqueror-20.12.0</a></td>
   <td align="right">7063kB</td>
   <td><tt>465e1176bd6d7c8b1631a1f1b3c8cf6b5bdf0847</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/konquest-20.12.0.tar.xz">konquest-20.12.0</a></td>
   <td align="right">650kB</td>
   <td><tt>6a8e737255d45bb0aaee2e62b4ca8695ffb8e375</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/konsole-20.12.0.tar.xz">konsole-20.12.0</a></td>
   <td align="right">1207kB</td>
   <td><tt>66435c5d4923db283ff7c7759606688f6e773943</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kontact-20.12.0.tar.xz">kontact-20.12.0</a></td>
   <td align="right">773kB</td>
   <td><tt>06196d5a6bedbc39f92af786ae41896a8126031b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kontactinterface-20.12.0.tar.xz">kontactinterface-20.12.0</a></td>
   <td align="right">35kB</td>
   <td><tt>8141feaaea0376df265a578d32f2901e8ac064ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kontrast-20.12.0.tar.xz">kontrast-20.12.0</a></td>
   <td align="right">118kB</td>
   <td><tt>b34594332fecb9ef54418f4f3e53c618aa26c48a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/konversation-20.12.0.tar.xz">konversation-20.12.0</a></td>
   <td align="right">4120kB</td>
   <td><tt>dfca203c55d7cb24e6c5a0fb952d686aeacacd1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kopete-20.12.0.tar.xz">kopete-20.12.0</a></td>
   <td align="right">9160kB</td>
   <td><tt>a17e3766c8a2b4f150ffaf98b7f2c64f0ccc620c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/korganizer-20.12.0.tar.xz">korganizer-20.12.0</a></td>
   <td align="right">2192kB</td>
   <td><tt>4d99f62993ad7834ff2ee3ff9e716985eba174a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kosmindoormap-20.12.0.tar.xz">kosmindoormap-20.12.0</a></td>
   <td align="right">303kB</td>
   <td><tt>86ca0c74286d019920603ff643da3a895f8290f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kpat-20.12.0.tar.xz">kpat-20.12.0</a></td>
   <td align="right">3500kB</td>
   <td><tt>fbb171c3e9dc0ed5cd93b0bf5417cb2213df9472</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kpimtextedit-20.12.0.tar.xz">kpimtextedit-20.12.0</a></td>
   <td align="right">196kB</td>
   <td><tt>e9cea199ad0c2dc00c67bc5886b35493d486717b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kpkpass-20.12.0.tar.xz">kpkpass-20.12.0</a></td>
   <td align="right">22kB</td>
   <td><tt>e06061c105f930c950224db591d9c323e5c8c502</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kpmcore-20.12.0.tar.xz">kpmcore-20.12.0</a></td>
   <td align="right">570kB</td>
   <td><tt>7e7a21442ed26eccf6168f75d6bbddf3a2e549d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kpublictransport-20.12.0.tar.xz">kpublictransport-20.12.0</a></td>
   <td align="right">336kB</td>
   <td><tt>9fc40dce0ddebdaea860aba4a0dd5a5a763af376</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kqtquickcharts-20.12.0.tar.xz">kqtquickcharts-20.12.0</a></td>
   <td align="right">29kB</td>
   <td><tt>8eeabe9c9e97a5b4a2ca89d2a436d07ff47ece29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/krdc-20.12.0.tar.xz">krdc-20.12.0</a></td>
   <td align="right">1527kB</td>
   <td><tt>c8d0d51145066fcb0842c1885aa284b98ebecc1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kreversi-20.12.0.tar.xz">kreversi-20.12.0</a></td>
   <td align="right">931kB</td>
   <td><tt>8da881b694c31dd8208bfabc460e04a05d121275</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/krfb-20.12.0.tar.xz">krfb-20.12.0</a></td>
   <td align="right">1250kB</td>
   <td><tt>9b14bf1e56670fe0978a60d79ac37ce7e95d7b02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kross-interpreters-20.12.0.tar.xz">kross-interpreters-20.12.0</a></td>
   <td align="right">147kB</td>
   <td><tt>df6a7cc0b5dc63749a58b88773aed5b46b495ca2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kruler-20.12.0.tar.xz">kruler-20.12.0</a></td>
   <td align="right">265kB</td>
   <td><tt>e10f913448b8f7971d17bce4053c11b4103b20d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kshisen-20.12.0.tar.xz">kshisen-20.12.0</a></td>
   <td align="right">807kB</td>
   <td><tt>298e7501a786dacffde22686d126bbed6a9d356f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/ksirk-20.12.0.tar.xz">ksirk-20.12.0</a></td>
   <td align="right">6829kB</td>
   <td><tt>5f60f7ee5100ba6c1b85d77645b3003f382fef78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/ksmtp-20.12.0.tar.xz">ksmtp-20.12.0</a></td>
   <td align="right">42kB</td>
   <td><tt>9f9c673fbd3ca28ada80a2a1fe9bab700962591f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/ksnakeduel-20.12.0.tar.xz">ksnakeduel-20.12.0</a></td>
   <td align="right">531kB</td>
   <td><tt>c7fd0c705977767b4067d47f3ddbe4114e12c4ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kspaceduel-20.12.0.tar.xz">kspaceduel-20.12.0</a></td>
   <td align="right">603kB</td>
   <td><tt>cd5eee7c39f434645af4f71418ab14f6ee9a0c17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/ksquares-20.12.0.tar.xz">ksquares-20.12.0</a></td>
   <td align="right">260kB</td>
   <td><tt>00236af18256f21c70b4882e219e025ce47197f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/ksudoku-20.12.0.tar.xz">ksudoku-20.12.0</a></td>
   <td align="right">1630kB</td>
   <td><tt>84fab87534ef02e7ae01d8375bdd9e2ca043416e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/ksystemlog-20.12.0.tar.xz">ksystemlog-20.12.0</a></td>
   <td align="right">1891kB</td>
   <td><tt>d46a5e98cf3df837ea6f5fb1ed545e6a1f9aff43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kteatime-20.12.0.tar.xz">kteatime-20.12.0</a></td>
   <td align="right">287kB</td>
   <td><tt>3520d376a9f0b3ab3ea1eac58d6ccdef5d9506ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/ktimer-20.12.0.tar.xz">ktimer-20.12.0</a></td>
   <td align="right">376kB</td>
   <td><tt>e919127895bf0a3cf796a266700999048d8199ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/ktnef-20.12.0.tar.xz">ktnef-20.12.0</a></td>
   <td align="right">292kB</td>
   <td><tt>183819da121f579bab336e5f1aebca6ff45d48e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/ktorrent-20.12.0.tar.xz">ktorrent-20.12.0</a></td>
   <td align="right">2090kB</td>
   <td><tt>9fe1853c47acade8a859fe520ce89a5254b80b86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/ktouch-20.12.0.tar.xz">ktouch-20.12.0</a></td>
   <td align="right">4824kB</td>
   <td><tt>c2089cf6b8df66c7a1ff80b53de2ecb9271add53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/ktp-accounts-kcm-20.12.0.tar.xz">ktp-accounts-kcm-20.12.0</a></td>
   <td align="right">256kB</td>
   <td><tt>b2067121806817056eb23f4111331a1be0928e08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/ktp-approver-20.12.0.tar.xz">ktp-approver-20.12.0</a></td>
   <td align="right">36kB</td>
   <td><tt>ec573234077b103967e1c5a5a9a67df55fe0e82c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/ktp-auth-handler-20.12.0.tar.xz">ktp-auth-handler-20.12.0</a></td>
   <td align="right">45kB</td>
   <td><tt>e132b9ff88fbea374d3f8289ddb7a62f3c369c4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/ktp-call-ui-20.12.0.tar.xz">ktp-call-ui-20.12.0</a></td>
   <td align="right">94kB</td>
   <td><tt>b842ece7dc57d766c6a7464cef5d55554ec1cf39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/ktp-common-internals-20.12.0.tar.xz">ktp-common-internals-20.12.0</a></td>
   <td align="right">439kB</td>
   <td><tt>599198283965d8d3b09db0c31dae864ffd5e0c78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/ktp-contact-list-20.12.0.tar.xz">ktp-contact-list-20.12.0</a></td>
   <td align="right">146kB</td>
   <td><tt>2c4279509a868b6f56c622c577ed77a5e28784bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/ktp-contact-runner-20.12.0.tar.xz">ktp-contact-runner-20.12.0</a></td>
   <td align="right">42kB</td>
   <td><tt>be2860f28db2a3903d83d4cda92be19c4716fc13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/ktp-desktop-applets-20.12.0.tar.xz">ktp-desktop-applets-20.12.0</a></td>
   <td align="right">42kB</td>
   <td><tt>d7fd0c91053f30b052f537bfaa0d3cf559d461d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/ktp-filetransfer-handler-20.12.0.tar.xz">ktp-filetransfer-handler-20.12.0</a></td>
   <td align="right">45kB</td>
   <td><tt>631f2de4c66718fd9483de9d3c878d7ce221666d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/ktp-kded-module-20.12.0.tar.xz">ktp-kded-module-20.12.0</a></td>
   <td align="right">96kB</td>
   <td><tt>bcddc56594da0876a44ec80a7473c1ff26e38767</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/ktp-send-file-20.12.0.tar.xz">ktp-send-file-20.12.0</a></td>
   <td align="right">27kB</td>
   <td><tt>34350439e83338ab069ce03484abb41d0198cae9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/ktp-text-ui-20.12.0.tar.xz">ktp-text-ui-20.12.0</a></td>
   <td align="right">460kB</td>
   <td><tt>fc6b1a6e93ea54a6a6c8bb14ddab55fc1c8175bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/ktuberling-20.12.0.tar.xz">ktuberling-20.12.0</a></td>
   <td align="right">69053kB</td>
   <td><tt>46a63bf0ae678367e167bb7c823e92c69fb1e7d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kturtle-20.12.0.tar.xz">kturtle-20.12.0</a></td>
   <td align="right">1794kB</td>
   <td><tt>7ba59f800e2f913b7eaf7a5e88bf12b138c0217a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kubrick-20.12.0.tar.xz">kubrick-20.12.0</a></td>
   <td align="right">324kB</td>
   <td><tt>e18fc163c13151f422c445f2a880d8c14c5105c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kwalletmanager-20.12.0.tar.xz">kwalletmanager-20.12.0</a></td>
   <td align="right">755kB</td>
   <td><tt>c37fc74182fc2c48390d151c7c14a4670b9bca18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kwave-20.12.0.tar.xz">kwave-20.12.0</a></td>
   <td align="right">6720kB</td>
   <td><tt>f1f9da2131def0eb63b5f097e9113c41ce6572bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/kwordquiz-20.12.0.tar.xz">kwordquiz-20.12.0</a></td>
   <td align="right">4089kB</td>
   <td><tt>ff5cec00de7b1b2683a8664939357bf36bc9af5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/libgravatar-20.12.0.tar.xz">libgravatar-20.12.0</a></td>
   <td align="right">30kB</td>
   <td><tt>95f6c5f7ed56540f0da5c2fc3da54a376ef73e0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/libkcddb-20.12.0.tar.xz">libkcddb-20.12.0</a></td>
   <td align="right">415kB</td>
   <td><tt>512af0bbad32510237e3cd099b183c0de264113a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/libkcompactdisc-20.12.0.tar.xz">libkcompactdisc-20.12.0</a></td>
   <td align="right">94kB</td>
   <td><tt>73795ba62431cb138ca0970fed6c784f47e71a82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/libkdcraw-20.12.0.tar.xz">libkdcraw-20.12.0</a></td>
   <td align="right">40kB</td>
   <td><tt>8ecdcd988a12bcc7a506e9e44eea7b959749f217</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/libkdegames-20.12.0.tar.xz">libkdegames-20.12.0</a></td>
   <td align="right">6240kB</td>
   <td><tt>5fff9e5460afe640f1347b6bed4df78a753b1975</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/libkdepim-20.12.0.tar.xz">libkdepim-20.12.0</a></td>
   <td align="right">233kB</td>
   <td><tt>8dd88934f6717f5ae49c9979776f47e840f50eb9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/libkeduvocdocument-20.12.0.tar.xz">libkeduvocdocument-20.12.0</a></td>
   <td align="right">206kB</td>
   <td><tt>e5a065cc10393571bfa17f48c10ed845947d5b1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/libkexiv2-20.12.0.tar.xz">libkexiv2-20.12.0</a></td>
   <td align="right">63kB</td>
   <td><tt>2fc8631cfcddc247c8dcf6a603e4748d5c58d48b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/libkgapi-20.12.0.tar.xz">libkgapi-20.12.0</a></td>
   <td align="right">240kB</td>
   <td><tt>2228edba55540be270432460358e544b23dd76fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/libkipi-20.12.0.tar.xz">libkipi-20.12.0</a></td>
   <td align="right">101kB</td>
   <td><tt>67027f8bf89c221fa0a255b350fdfc8a625435c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/libkleo-20.12.0.tar.xz">libkleo-20.12.0</a></td>
   <td align="right">349kB</td>
   <td><tt>20163aa939511e548409b333b5af039fc5e64812</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/libkmahjongg-20.12.0.tar.xz">libkmahjongg-20.12.0</a></td>
   <td align="right">1653kB</td>
   <td><tt>2e7437087a84b3ce355177f1d2b816dceb77e3ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/libkomparediff2-20.12.0.tar.xz">libkomparediff2-20.12.0</a></td>
   <td align="right">155kB</td>
   <td><tt>5a37c505e8ccfa83e4ee70162687444199590b32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/libksane-20.12.0.tar.xz">libksane-20.12.0</a></td>
   <td align="right">141kB</td>
   <td><tt>04282c14c37a6391a535514fd09ecbe1a944c70a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/libksieve-20.12.0.tar.xz">libksieve-20.12.0</a></td>
   <td align="right">545kB</td>
   <td><tt>93e8c0ec59004d17da83d869e48e1e3c97ffb66d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/libktorrent-20.12.0.tar.xz">libktorrent-20.12.0</a></td>
   <td align="right">590kB</td>
   <td><tt>108c6bd9ea77476839a69be7209487045bcae5bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/lokalize-20.12.0.tar.xz">lokalize-20.12.0</a></td>
   <td align="right">1947kB</td>
   <td><tt>0cb587b3e662e60063004adcdade907263deb226</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/lskat-20.12.0.tar.xz">lskat-20.12.0</a></td>
   <td align="right">1196kB</td>
   <td><tt>44d7837555a4e9c0de76f15567d31721c64ce6f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/mailcommon-20.12.0.tar.xz">mailcommon-20.12.0</a></td>
   <td align="right">706kB</td>
   <td><tt>8e7bb7af307a995f825bf1a979da3735fd53773b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/mailimporter-20.12.0.tar.xz">mailimporter-20.12.0</a></td>
   <td align="right">535kB</td>
   <td><tt>92baa7ed9f1cb105e8cc47ba965e5255f388d4ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/marble-20.12.0.tar.xz">marble-20.12.0</a></td>
   <td align="right">50989kB</td>
   <td><tt>8984d8d49fc02821cbee53c6cbc924fa7a0fb812</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/markdownpart-20.12.0.tar.xz">markdownpart-20.12.0</a></td>
   <td align="right">25kB</td>
   <td><tt>79b7b4b4cfca5d210df8c2227d5f35f4de18e367</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/mbox-importer-20.12.0.tar.xz">mbox-importer-20.12.0</a></td>
   <td align="right">24kB</td>
   <td><tt>3555ddc082db43e9ed5ffa8733d97b990ed38448</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/messagelib-20.12.0.tar.xz">messagelib-20.12.0</a></td>
   <td align="right">10284kB</td>
   <td><tt>f2cc64400213b0d7171f8af8d31cd89ec9cfe603</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/minuet-20.12.0.tar.xz">minuet-20.12.0</a></td>
   <td align="right">27077kB</td>
   <td><tt>1e03fada0f9a6db686e6c6a2714762c857ca1725</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/okular-20.12.0.tar.xz">okular-20.12.0</a></td>
   <td align="right">7697kB</td>
   <td><tt>73f1265accaa8f3882784d925e72ceeaa831c3b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/palapeli-20.12.0.tar.xz">palapeli-20.12.0</a></td>
   <td align="right">2030kB</td>
   <td><tt>3080e2555758d17075458f9c4f1f352d91b7af59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/parley-20.12.0.tar.xz">parley-20.12.0</a></td>
   <td align="right">8634kB</td>
   <td><tt>0a13151dc96b0987cb8af38c080d11c9bcd62d52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/partitionmanager-20.12.0.tar.xz">partitionmanager-20.12.0</a></td>
   <td align="right">2036kB</td>
   <td><tt>118ebb9f9778033497c963f53923c4179b2c644a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/picmi-20.12.0.tar.xz">picmi-20.12.0</a></td>
   <td align="right">1335kB</td>
   <td><tt>ed82c0d7ffc6e24735a5a9b8fc3c86ea49d0507f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/pimcommon-20.12.0.tar.xz">pimcommon-20.12.0</a></td>
   <td align="right">353kB</td>
   <td><tt>b300b2c7242fb9583b3298afdd83134e94403414</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/pim-data-exporter-20.12.0.tar.xz">pim-data-exporter-20.12.0</a></td>
   <td align="right">389kB</td>
   <td><tt>b8935ae21630b67e8b58797530913b46e2e3ad0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/pim-sieve-editor-20.12.0.tar.xz">pim-sieve-editor-20.12.0</a></td>
   <td align="right">443kB</td>
   <td><tt>73b5b5bd2cf17f9f3eb97be64a6c02837dd19697</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/poxml-20.12.0.tar.xz">poxml-20.12.0</a></td>
   <td align="right">42kB</td>
   <td><tt>262d8f1d77d7fbca8d090249c14ef411c3f9be5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/print-manager-20.12.0.tar.xz">print-manager-20.12.0</a></td>
   <td align="right">252kB</td>
   <td><tt>53859f3f4ccb302988a2655836c10199e91cf200</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/rocs-20.12.0.tar.xz">rocs-20.12.0</a></td>
   <td align="right">1456kB</td>
   <td><tt>e2a1058d417356faf8483b7d8f1f2f91ff36bd30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/signon-kwallet-extension-20.12.0.tar.xz">signon-kwallet-extension-20.12.0</a></td>
   <td align="right">10kB</td>
   <td><tt>cc9ddd62d36505d7c65c7b48b3f7f90622e4079b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/spectacle-20.12.0.tar.xz">spectacle-20.12.0</a></td>
   <td align="right">1136kB</td>
   <td><tt>569a216227c2baf119a3b7e479e56fc7b080c167</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/step-20.12.0.tar.xz">step-20.12.0</a></td>
   <td align="right">928kB</td>
   <td><tt>353e26341588bab27d933e040ef36a5e2af799b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/svgpart-20.12.0.tar.xz">svgpart-20.12.0</a></td>
   <td align="right">20kB</td>
   <td><tt>c56e7c555f3d236e387ed6858bb695dc49aad230</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/sweeper-20.12.0.tar.xz">sweeper-20.12.0</a></td>
   <td align="right">363kB</td>
   <td><tt>4f7c5e27995d5d9e08320cf38d6ad0bba5070118</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/umbrello-20.12.0.tar.xz">umbrello-20.12.0</a></td>
   <td align="right">5425kB</td>
   <td><tt>59b6dd3ae91c8dc1b02b22cbe523fe4345b7806e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/yakuake-20.12.0.tar.xz">yakuake-20.12.0</a></td>
   <td align="right">373kB</td>
   <td><tt>1bbd9ea30b239b98640eddf548c2b136be8f9254</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.0/src/zeroconf-ioslave-20.12.0.tar.xz">zeroconf-ioslave-20.12.0</a></td>
   <td align="right">42kB</td>
   <td><tt>e1c113aa86eb731cc339ecada23352e1a75bf438</tt></td>
</tr>

</table>
